.drawer_menu__sync_info {
  margin-left: auto;
  margin-right: 22px;
}

.drawer_menu__sync_info__cloud_icon {
  width: 45px;
  height: 45px;
  fill: black;
}

.drawer_menu__sync_info__icon {
  width: 15px;
  height: 15px;
  margin-left: -27.5px;
  margin-top: 6px;
  fill: black;
}

.drawer_menu__sync_info__icon.offline {
  padding: 1.5px;
}

.drawer_menu__sync_info__synchronizing_icon {
  animation:spin 4s linear 4s infinite, spin_in 4s linear 0s;
  margin-left: -15px;
}

.drawer_menu__sync_info__out_icon {
  transform: scale(0);
  animation: spin_out 0.25s linear 0s;
}

.drawer_menu__sync_info__main_icon {
  animation: show_in 0.5s linear 0s;
  margin-left: -15px;
}

@keyframes spin { 
  100% { 
    transform: rotate(360deg); 
  } 
}

@keyframes spin_in { 
  0% { 
    transform: scale(0) rotate(0deg); 
  }
  12.5% {
    transform: scale(1) rotate(45deg);
  }
  100% { 
    transform: scale(1) rotate(360deg); 
  }
}

@keyframes spin_out { 
  0% {
    transform: scale(1);
  }
  100% { 
    transform: scale(0) rotate(45deg);
  }
}

@keyframes show_in { 
  0% { 
    transform: scale(0); 
  }
  50% {
    transform: scale(0);
  }
  100% { 
    transform: scale(1);
  }
}
