.dinogotchi_screen {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
}

.dinogotchi_screen.inside {
	justify-content: center;
}

.dinogotchi_screen.outside {
	justify-content: flex-start;
}

.dinogotchi_screen__background {
	position: absolute;
	height: 100vh;
	width: auto;
}

.dinogotchi_screen__background .cloud {
	transform-box: fill-box;
	opacity: 0;
}

.dinogotchi_screen__background #dinogotchi__inside__cloud_one {
	animation-name: dinogotchi_screen__background__dinogotchi__inside__cloud_one;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.dinogotchi_screen__background #dinogotchi__inside__cloud_two {
	animation-name: dinogotchi_screen__background__dinogotchi__inside__cloud_two;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.dinogotchi_screen__background #dinogotchi__inside__cloud_three {
	animation-name: dinogotchi_screen__background__dinogotchi__inside__cloud_three;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.dinogotchi_screen__background #dinogotchi__inside__cloud_four {
	animation-name: dinogotchi_screen__background__dinogotchi__inside__cloud_four;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.dinogotchi_screen__background #dinogotchi__inside__cloud_five {
	animation-name: dinogotchi_screen__background__dinogotchi__inside__cloud_five;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.dinogotchi_screen__background #dinogotchi__inside__cloud_six {
	animation-name: dinogotchi_screen__background__dinogotchi__inside__cloud_one;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.dinogotchi_screen__background #dinogotchi__inside__cloud_seven {
	animation-name: dinogotchi_screen__background__dinogotchi__inside__cloud_one;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.dinogotchi_screen__background #dinogotchi__inside__cloud_eight {
	animation-name: dinogotchi_screen__background__dinogotchi__inside__cloud_four;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.dinogotchi_screen__background #dinogotchi__inside__cloud_nine {
	animation-name: dinogotchi_screen__background__dinogotchi__inside__cloud_two;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.dinogotchi_screen__background.night .outside_background {
	fill: rgb(10.5896%, 30.589294%, 41.958618%);
	fill-opacity: 1;
	stroke: none;
}

.dinogotchi_screen__background.day .outside_background {
	fill: rgb(65.489197%, 87.449646%, 100%);
	fill-opacity: 1;
	stroke: none;
}

.dinogotchi_screen__background.night .cloud {
	fill: rgb(36.079407%, 49.01886%, 57.249451%);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
}

.dinogotchi_screen__background.day .cloud {
	fill: rgb(100%, 100%, 100%);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
}

.dinogotchi_screen__background.night .grass {
	fill: rgb(25.099182%, 48.239136%, 14.898682%);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
}

.dinogotchi_screen__background.day .grass {
	fill: rgb(52.549744%, 81.17981%, 39.99939%);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
}

.dinogotchi_screen__dino_pet {
	position: absolute;
	height: 115vh;
    left: -30vmin;
    bottom: -10vmin;
}

.dinogotchi_screen__dino_pet.first_login {
	left: -50vmin;
}

.dinogotchi_screen__options {
	position: absolute;
	right: 7vw;
	top: 15vh;
}

.dinogotchi_screen__options .circular_button {
	height: 4.5rem;
	width: 4.5rem;
	background-color: #a594ab;
	margin-bottom: 1.5rem;
	padding: 0.85rem;
}

.dinogotchi_screen__options svg {
	width: 4rem;
	height: 4rem;
}

.dinogotchi_screen .icon_button {
	position:absolute;
	top: 3vmin;
	left: 3vmin;
	width: 16vmin;
	height: 16vmin;
}

.dinogotchi_screen .icon_button svg {
	fill: #A594AB;
}

.dinogotchi_screen__background .painting {
	transform-box: fill-box;
	transform-origin: top;
}

.teste {
	position: absolute;
}

.color_chooser {
	position: absolute;
	top: 8vh;
	background-color: #121212;
	padding: 1.2rem;
	border-radius: 0.5rem;
}

.color_chooser__color_button {
  	border: none;
	border-radius: 50%;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
	width: 10vmin;
	height: 10vmin;
	margin: 1vmin;
}

.color_chooser__color_button.green {
	background-color: #69AF85;
}

.color_chooser__color_button.pink {
	background-color: #FFAFCC;
}

.color_chooser__color_button.blue {
	background-color: #89cff0;
}

.color_chooser__color_button.red {
	background-color: #be5050;
}

.selection_button {
	position:absolute;
	top: 85vh;
}

.speech_bubble {
	position: absolute;
	background-color: #f5f5f5;
	color: #121212;
	border: #838383 solid 0.05rem;
	border-radius: 0.4rem;
	top: 30vh;
	left: 50vw;
	max-width: 40vw;
	padding: 1rem;
}

@keyframes dinogotchi_screen__background__dinogotchi__inside__cloud_one {
	from {
		transform: translate3d(-300%, 0, 0);
	}
	to {
		transform: translate3d(300%, 0, 0);
	}
}

@keyframes dinogotchi_screen__background__dinogotchi__inside__cloud_two {
	from {
		transform: translate3d(-100%, 0, 0);
	}
	to {
		transform: translate3d(475%, 0, 0);
	}
}

@keyframes dinogotchi_screen__background__dinogotchi__inside__cloud_three {
	from {
		transform: translate3d(-500%, 0, 0);
	}
	to {
		transform: translate3d(125%, 0, 0);
	}
}

@keyframes dinogotchi_screen__background__dinogotchi__inside__cloud_four {
	from {
		transform: translate3d(-425%, 0, 0);
	}
	to {
		transform: translate3d(125%, 0, 0);
	}
}

@keyframes dinogotchi_screen__background__dinogotchi__inside__cloud_five {
	from {
		transform: translate3d(-150%, 0, 0);
	}
	to {
		transform: translate3d(450%, 0, 0);
	}
}