.icon_button {
	background-color: transparent;
	padding: 0;
}

.icon_button svg {
	fill: var(--light-color);
	margin: 0;
}

.icon_button.button_dark svg {
	fill: var(--contrast-color);
}

.icon_button.button_bigger svg {
	height: 2.188rem;
	width: 2.188rem;
}
