.note__note_content {
	overflow-x: auto;
	margin-bottom: 1rem;
	height: 100%;

}
.note__note_content__columns {
	width: 100%;
	height: inherit;
	padding: 0px;
	height: inherit;

}

.note__note_content__columns__scroll {
	width: 100%;
	height: inherit;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.note__note_content__columns__scroll__clean_search {
	width: 100%;
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;
}
