.bottom_navigation__component {
    position: relative;
    top: 45px;
    bottom: 70px;
    height: calc(100vh - 115px);
    width: 100%;
    overflow: scroll;
}
.MuiBottomNavigationAction-root .Mui-selected {
    font-weight: 700;
    color: #FFFFFF;
}