.faq-items {
	padding: 4px 8px 8px;
	font-size: var(--default-font);
}

.faq-items__accordion {
	margin-top: 16px;
	padding: 0px;
}

.faq-items__accordion .card__title {
	display: flex;
	margin-bottom: 0.2rem;
	flex-direction: row;
	font-size: var(--default-font);
}

.faq-items__accordion .card__title .icon_button__options {
	margin-left: auto;
}
