.drawer_menu {
  position: relative;
  z-index: 1000;
  height: 55px;
}

.drawer_menu
  .MuiPaper-root.MuiAppBar-root
  .MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
  position: absolute;
  width: 100vw;
  height: 55px;
}

.drawer_menu .MuiAppBar-colorPrimary {
  background-color: #b32e55;
  height: 55px;
}

.drawer_menu .MuiList-root.MuiList-padding {
  padding: 0;
}

.button__close-drawer {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: none;
  border: none;
}
