.glossary__items {
	position: absolute;
	height: calc(100% - 3.75rem);
	width: 100%;
	overflow-y: auto;
	color: var(--contrast-color);
	font-size: var(--default-font);
}

.accordion {
	padding: 0.313rem 0.625rem 0.938rem;
}

.accordion .card .card_title {
	margin-bottom: 0.2rem;
}

.glossary__items .card.card {
	background-color: var(--inv-ontrast-color);
}

.glossary__items .h5 {
	font-size: var(--big-font);
}

.glossary__items .h6 {
	font-size: var(--default-font);
}

.glossary__items .card-body .card-subtitle {
	color: var(--selection);
}

.glossary__items .card-body .card_link {
	color: var(--selection);
}
