.glossary__items {
  position: absolute;
  height: calc(100% - 60px);
  width: 100%;
  overflow-y: auto;
}

.accordion {
  padding: 5px 10px 15px;
}

.accordion .card .card-title {
  margin-bottom: 0.2rem;
}

.accordion .card .card-link {
  color: var(--button-font-color);
}

.accordion .card {
  background-color: var(--header-and-menu);
}
