.glossary__items {
  position: absolute;
  height: calc(100% - 60px);
  width: 100%;
  overflow-y: auto;
  color:var(--contrast-color)
}

.accordion {
  padding: 5px 10px 15px;
}

.accordion .card .card-title {
  margin-bottom: 0.2rem;
}

.glossary__items .card.card {
  background-color: var(--inv-ontrast-color);
}

.glossary__items .card-body .card-subtitle {
  color: var(--selection);
}

.glossary__items .card-body .card-link {
  color: var(--selection);
}