.drawer__navigation__app_bar {
	width: 100%;
	height: 2.813rem;
	background-color: var(--header-and-menu);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.drawer__navigation__app_bar .MuiIconButton-label .MuiSvgIcon-root {
	fill: var(--light-color);
}

.drawer__navigation__app_bar__button svg {
	margin-left: 0.8rem;
	margin-right: 0.8rem;
}

@media (orientation: landscape) {
	.drawer__navigation__app_bar {
		height: 4rem;
	}

	.drawer__navigation__app_bar .button svg {
		width: 3.2rem;
		height: 3.2rem;
		margin: 0 1.2rem;
	}
}