.event_type__list {
	padding: 1.5rem 0.5rem;
	list-style-type: none;
}

.event_type__list__item .MuiTypography-root {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: var(--small-font);
}
.event_type__list__item {
	margin-bottom: 0.7rem;
}

.MuiListItemSecondaryAction-root {
	display: flex;
}
