.musical_dino {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background-color: var(--musical-dino-game-background-color);
	background-image: url("data:image/svg+xml,%3Csvg width='84' height='16' viewBox='0 0 84 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM30 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM10 0h2v16h-2V0zm6 0h4v16h-4V0zM2 0h4v16H2V0zm50 0h2v16h-2V0zM38 0h2v16h-2V0zm28 0h2v16h-2V0zm-8 0h6v16h-6V0zM42 0h6v16h-6V0z' fill='%23febf95' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.musical_dino .record_div {
	color: #ae2276;
	text-shadow: none;
	padding: 0 1em;
}

#musical_dino__header__turn {
	color: var(--light-color);
	font-size: var(--very-large-font);
	margin: auto;
	background-color: var(--musical-dino-game-button-background-color);
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1em;
}

.musical_dino__header {
	display: flex;
	padding: 1rem;
}

.musical_dino__header .dino_icon_button__button svg {
	width: 3rem;
	height: 3rem;
	fill: var(--musical-dino-game-button-background-color);
}

.musical_dino__start_game {
	width: 100vw;
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: 10vmin;
}

.musical_dino__start_game__button {
	background-color: var(--musical-dino-game-button-background-color);
	color: var(--light-color);
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	border-radius: 0.5rem;
	width: 40vw;
	height: 10vh;
	max-width: 300px;
	max-height: 80px;
}

.musical_dino__start_game__button:hover,
.musical_dino__start_game__button:active {
	text-decoration: none;
	border: none;
}

.musical_dino__dino_song_board {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.musical_dino__dino_song_board__top {
	display: flex;
}

.musical_dino__dino_song_board__bottom {
	display: flex;
}

.musical_dino__dino {
	margin: 6vmin;
}

.musical_dino__dino svg {
	width: 20vh;
}

.musical_dino__dino_moving svg {
	animation: dino-rotation-animation;
	animation-duration: 1s;
	animation-iteration-count: 2;
}

.musical_dino__dino_light_pink .dark_color {
	fill: #9d497a;
}

.musical_dino__dino_light_pink .main_color {
	fill: #d161a2;
}

.musical_dino__dino_light_pink .light_color {
	fill: #e8b0d1;
}

.musical_dino__dino_light_pink .details_color {
	fill: #833d65;
}

.musical_dino__dino_light_pink .scale_color {
	fill: #7a0149;
}

.musical_dino__dino_orange .dark_color {
	fill: #be7240;
}

.musical_dino__dino_orange .main_color {
	fill: #fd9855;
}

.musical_dino__dino_orange .light_color {
	fill: #feccaa;
}

.musical_dino__dino_orange .details_color {
	fill: #9e5f35;
}

.musical_dino__dino_orange .scale_color {
	fill: #9d497a;
}

.musical_dino__dino_red .dark_color {
	fill: #9f2100;
}

.musical_dino__dino_red .main_color {
	fill: #d42c00;
}

.musical_dino__dino_red .light_color {
	fill: #ea9580;
}

.musical_dino__dino_red .details_color {
	fill: #851b00;
}

.musical_dino__dino_red .scale_color {
	fill: #851b00;
}

.musical_dino__dino_dark_pink .dark_color {
	fill: #7a0149;
}

.musical_dino__dino_dark_pink .main_color {
	fill: #a20161;
}

.musical_dino__dino_dark_pink .light_color {
	fill: #d180b0;
}

.musical_dino__dino_dark_pink .details_color {
	fill: #65013d;
}

.musical_dino__dino_dark_pink .scale_color {
	fill: #fd9855;
}

.musical_dino__dino_light_pink.musical_dino__dino_moving .dark_color {
	fill: #b6779b;
}

.musical_dino__dino_light_pink.musical_dino__dino_moving .main_color {
	fill: #dd89b9;
}

.musical_dino__dino_light_pink.musical_dino__dino_moving .light_color {
	fill: #eec4dd;
}

.musical_dino__dino_light_pink.musical_dino__dino_moving .details_color {
	fill: #a26e8c;
}

.musical_dino__dino_light_pink.musical_dino__dino_moving .scale_color {
	fill: #9b4177;
}

.musical_dino__dino_orange.musical_dino__dino_moving .dark_color {
	fill: #ce9570;
}

.musical_dino__dino_orange.musical_dino__dino_moving .main_color {
	fill: #feb280;
}

.musical_dino__dino_orange.musical_dino__dino_moving .light_color {
	fill: #fed9bf;
}

.musical_dino__dino_orange.musical_dino__dino_moving .details_color {
	fill: #b68768;
}

.musical_dino__dino_orange.musical_dino__dino_moving .scale_color {
	fill: #b6779b;
}

.musical_dino__dino_red.musical_dino__dino_moving .dark_color {
	fill: #b75940;
}

.musical_dino__dino_red.musical_dino__dino_moving .main_color {
	fill: #df6140;
}

.musical_dino__dino_red.musical_dino__dino_moving .light_color {
	fill: #efb0a0;
}

.musical_dino__dino_red.musical_dino__dino_moving .details_color {
	fill: #a45440;
}

.musical_dino__dino_red.musical_dino__dino_moving .scale_color {
	fill: #a45440;
}

.musical_dino__dino_dark_pink.musical_dino__dino_moving .dark_color {
	fill: #9b4177;
}

.musical_dino__dino_dark_pink.musical_dino__dino_moving .main_color {
	fill: #b94189;
}

.musical_dino__dino_dark_pink.musical_dino__dino_moving .light_color {
	fill: #dda0c4;
}

.musical_dino__dino_dark_pink.musical_dino__dino_moving .details_color {
	fill: #8c416e;
}

.musical_dino__dino_dark_pink.musical_dino__dino_moving .scale_color {
	fill: #feb280;
}

@keyframes dino-rotation-animation {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-12deg);
	}
	75% {
		transform: rotate(12deg);
	}
	100% {
		tranform: rotate(0deg);
	}
}
