.calendar__month__header {
	width: 100%;
	height: 8%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.625rem;
}

.calendar__month__header h1 {
	font-size: 1.3em;
	margin-bottom: 0;
	margin-right: 0.625rem;
	width: 50%;
}

.calendar__month__header_buttons {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.calendar__month__header_buttons__today_button .MuiIconButton-root {
	padding: 0;
}

.calendar__month__header_buttons__today_button__image {
	height: 1.25rem;
}
