:root {
	/* Definições gerais */
	--light-color: #f5f5f5;
	--dark-color: #121212;
	--dark-color-transparency: #12121280;
	--dialog_main_color: #A594AB;
    
	/* Warning Dialog */
	--dialog-background-color: #A594AB;
	--dialog-circle-background-color: #E6E2E8;
	--dialog-circle-border-color: #694E73;
    --dialog-input-background-color: #C0B3C5;


	/* ========================== */
	/* =         Games          = */
	/* ========================== */
	/* Dinno Runner */
	--dino-runner-game-background-color: #ffe1ed;
	--dino-runner-game-details-color: #e274a0;
	--dino-runner-game-board-background: #1e344b;

	/* Musical Dino */
	--musical-dino-game-background-color: #281c3d;
	--musical-dino-game-button-background-color: #add8e6;

	/* Snake */
	--snake-game-score-background-color: #694e73;

	/* Tic Tac Dino */
	--tic-tac-dino-background-color: #cec1e7;
	--tic-tac-dino-square-background-color: #d8cdec;
	--tic-tac-dino-display-background-color: #c1e7e1b3;

	/* Memory Game */
	--memory-game-primary-background-color: #ffda91;
	--memory-game-secondary-background-color: #ffd175;
	--memory-game-contrast-color: #76aaca;
	--memory-game-piece-back-color: #805a46;

	/* ========================== */
	/* =         Dinos          = */
	/* ========================== */
	/* Dino verde */
	--dino-green-dark-color: #498a68;
	--dino-green-main-color: #5cb38e;
	--dino-green-light-color: #9bdfc1;

	/* Dino amarelo */
	--dino-yellow-dark-color: #bfb08b;
	--dino-yellow-main-color: #ffebba;
	--dino-yellow-light-color: #fff5dc;

	/* Dino vermelho */
	--dino-red-dark-color: #8f3c3c;
	--dino-red-main-color: #be5050;
	--dino-red-light-color: #dfa8a8;

	/* Dino blue */
	--dino-blue-dark-color: #679bb4;
	--dino-blue-main-color: #89cff0;
	--dino-blue-light-color: #c4e7f7;

	/* Dino rosa */
	--dino-pink-dark-color: #bf8399;
	--dino-pink-main-color: #ffafcc;
	--dino-pink-light-color: #ffd7e6;

	/* Dino aqua */
	--dino-aqua-dark-color: #7ca2a2;
	--dino-aqua-main-color: #a5d8d8;
	--dino-aqua-light-color: #d2ecec;

	/* Dino roxo */
	--dino-roxo-dark-color: #9e83ac;
	--dino-roxo-main-color: #d2afe5;
	--dino-roxo-light-color: #e9d7f2;
}
