:root {
	/* Definições gerais */
	--light-color: #f5f5f5;
	--dark-color: #121212;
	--dark-color-transparency: #12121280;
	--dialog_main_color: #A594AB;
    
	/* Warning Dialog */
	--dialog-background-color: #A594AB;
	--dialog-circle-background-color: #E6E2E8;
	--dialog-circle-border-color: #694E73;
    --dialog-input-background-color: #C0B3C5;


	/* ========================== */
	/* =         Games          = */
	/* ========================== */
	/* Dinno Runner */
	--dino-runner-game-background-color: #ffe1ed;
	--dino-runner-game-details-color: #e274a0;
	--dino-runner-game-board-background: #1e344b;

	/* Musical Dino */
	--musical-dino-game-background-color: #f2f2f2;
	--musical-dino-game-button-background-color: #B94189;

	/* Snake */
	--snake-game-score-background-color: #694e73;

	/* Tic Tac Dino */
	--tic-tac-dino-background-color: #cec1e7;
	--tic-tac-dino-square-background-color: #d8cdec;
	--tic-tac-dino-display-background-color: #c1e7e1b3;

	/* Memory Game */
	--memory-game-primary-background-color: #ffda91;
	--memory-game-secondary-background-color: #ffd175;
	--memory-game-contrast-color: #906F5D;
	--memory-game-piece-back-color: #805a46;

	/* ========================== */
	/* =         Dinos          = */
	/* ========================== */
	/* Dino verde */
	--dino-dark-color: #539B70;
	--dino-main-color: #69AF85;
	--dino-green-light-color: #9bdfc1;
	--dino-back-color: #B460C6;
	--dino-details-color: #3E6D51;
	--dino-face-details-color: #3F7555;
	--dino-belly-color: #F2F9D9;
	--catheter-color: #A3B5C9;
	--other-color: #CAE2FF;
	--other-two-color: #F7263A;
	--other-three-color: #F9E178;
	--other-four-color: #143321;
	--other-five-color: #43609B;
}

[data-dino-color='pink'] {
	--dino-dark-color: #e67ca3;
	--dino-main-color: #FFAFCC;
	--dino-details-color: #e08cab;
	--dino-face-details-color: #af758a;
	--dino-back-color: #279c92;
}

[data-dino-color='blue'] {
	--dino-dark-color: #58aed6;
	--dino-main-color: #89cff0;
	--dino-details-color: #679bb4;
	--dino-face-details-color: #43748b;
	--dino-back-color: #F089CF;
}

[data-dino-color='red'] {
	--dino-dark-color: #ad3636;
	--dino-main-color: #be5050;
	--dino-details-color: #8f3c3c;
	--dino-face-details-color: #6b2828;
	--dino-back-color: #F1CD16;
}

[data-dino-color='emo'] {
	--dino-dark-color: black;
	--dino-main-color: #121212;
	--dino-details-color: black;
	--dino-face-details-color: black;
	--dino-back-color: black;
}