.calendar__month__month_days__week_day_column__title {
  display: flex;
  width: 100%;
}

.calendar__month__month_days__week_day_column__title__info {
  display: flex;
  width: 100%;
}

.calendar__month__month_days__week_day_column__title__info h2 {
  margin-bottom: 0.2em;
  width: 100%;
  text-align: center;
  font-size: 1em;
}

.calendar__month__month_days__week_day_column__title__separation_bar {
  width: 1px;
  height: 0.6em;
  background-color: black;
  align-self: flex-end;
}
