.button {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 0.5rem;
	border: 0rem;
	padding: 0.375rem 1rem;
	font: var(--default-small-font);
	font-weight: 500;
	text-transform: uppercase;
	background-color: var(--header-and-menu);
	color: var(--light-color);
	text-decoration: none;
}

.button:focus {
	outline: none;
}

.button:active {
	outline: none;
}

.button:hover {
	outline: none;
}

.button.button__outline {
	border: solid 0.063rem;
	border-color: var(--contrast-color);
}

.button.disabled {
	opacity: 0.5;
}
