.calendar__event_modal__content__date_info {
	padding-left: 3.75rem;
}

.calendar__event_modal__content__data {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 1.25rem;
	margin-bottom: 0.938rem;
}

.calendar__event_modal__content__data__icon {
	margin-right:  1rem;
}

.calendar__event_modal__content__data > p {
	margin-bottom: 0;
}

.calendar__event_modal__content__data.description {
	align-items: flex-start;
}

.calendar__event_modal__content__data__description {
	margin-top: -0.25rem;
}
