.done_button.MuiFab-root {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid;
    border-color: #b32e55;
}

.done_button {
    outline:none !important;
}

.done_button svg {
    fill: #b32e55;
    display: flex;
    justify-content: center;
    align-items: center;
}