.google_login_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
}

.google_login_button .google_login_button__error {
  color: #ff0000;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.google_login_button__button button {
  background-color: var(--note-background);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.google_login_button__button .MuiTypography-root {
  color: var(--dark-font-color);
}

.google_login_button__text_button {
  background-color: var(--background-main);
  border-radius: 2rem;
}

.google_login_button__loader {
  border-radius: 2rem;
}