.calendar__add_modal .MuiDialog-paperWidthSm {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.calendar__add_modal.MuiDialog-root .MuiPaper-rounded {
    border-radius: 0;
}

.calendar__add_modal.MuiDialog-root .MuiDialog-paper {
    margin: 0;
}

.calendar__add_modal.MuiDialog-root .MuiDialog-paperScrollPaper {
    max-height: 100%;
}
