.calendar__add__modal__event_alert_item {
	padding-bottom: 0.375rem;
	padding-top: 0.375rem;
	display: flex;
	align-items: center;
	width: 100%;
	margin-right: -3rem;
}

.calendar__add__modal__event_alert_item__delete_button.MuiButtonBase-root.MuiButton-root {
	margin-left: auto;
	padding-right: 0;
	outline: none !important;
}

.calendar__add__modal__event_alert_item__delete_button.MuiButtonBase-root.MuiButton-root
	.MuiButton-label {
	display: flex;
	justify-content: flex-end;
}
