.game_over_dialog {
	background-color: var(--dialog-background-color);
	width: 80vw;
	height: 30vh;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	top: 35vh;
	left: 10vw;
}

.game_over_dialog__content {
	text-align: center;
}

.game_over_dialog__buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	/* margin-top: 10vmin; */
}

.game_over_dialog__buttons .button {
	background-color: var(--light-color);
	color: var(--dialog-background-color);
	font-size: var(--default-font);
	margin-left: 1.5rem;
}