.note__column_dialog__header.MuiCardHeader-root {
  background-color: var(--header-and-menu);
}

.note__column_dialog__header .MuiTypography-root.MuiCardHeader-title {
  color: var(--dark-color);
}

.note__column_dialog__header.MuiCardHeader-root .MuiTypography-h5 {
  font-weight: bold;
}

.note__column_dialog__header.MuiCardHeader-root
  .MuiCardHeader-content
  .MuiTypography-root.MuiCardHeader-title {
  font-size: 1.2rem;
}
