.note__column_dialog__header.MuiCardHeader-root {
  background-color: #b32e55;
  color: white;
}

.note__column_dialog__header.MuiCardHeader-root .MuiTypography-h5 {
  font-weight: bold;
}

.note__column_dialog__header.MuiCardHeader-root
  .MuiCardHeader-content
  .MuiTypography-root.MuiCardHeader-title {
  font-size: 1.2rem;
}
