.staff_moderation {
  height: 100%;
}

.staff_moderation .dialog_form__content {
  width: 100%;
  height: 100%;
	padding: 20px;
  display: flex;
  flex-direction: column;
}


.staff_moderation__save_button {
  margin-top: 24px;
  align-self: center;
}

.staff_moderation .MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.MuiTab-fullWidth {
  outline: none;
}

.staff_moderation .MuiTypography-root.MuiTypography-body2 {
  display: flex;
  flex-direction: row;
}

.staff_moderation .invitation_pending {
  margin-left: auto;
  margin-bottom: 0px;
  background-color: gray;
  border-radius: 4px;
  padding: 0px 4px;
  width: fit-content;
}

.staff_moderation .add_staff {
	width: 100%;
	height: 100%;
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.staff_moderation .add_staff p.add_staff__title  {
	font-size: var(--big-font);
	margin-bottom: 1rem;
}

.staff_moderation .dialog_form__content {
  padding: 0px;
}

.staff_moderation .list__title {
  margin: 16px 0px 0px;
}