.calendar__month__month_days__week_day_column__days_column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-right: black 1px solid;
}

.calendar__month__month_days__week_day_column__days_column.with_two_borders {
  border-left: black 1px solid;
}
