.mui-search-bar {
	padding: 0.625rem;
	height: 4.375rem;
}

.mui-search-bar .MuiOutlinedInput-adornedStart {
	border: solid 0.05rem var(--search-bar-border-color);
	padding-left: 0rem;
	border-radius: 0.625rem;
}

.mui-search-bar .MuiSvgIcon-root {
	fill: var(--search-bar-font-color)
}

.mui-search-bar .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.MuiOutlinedInput-root:focus {
	border-color: var(--search-bar-border-color);
	border-width: 0.05rem;
}
