.color_palette__color_option {
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
}

.color_palette__color_option:focus {
	box-shadow: 0 0 0 2pt #ff9d00;
}

.color_palette__popover .MuiPaper-root.MuiPopover-paper {
	padding: 0.5rem;
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: 1fr 1fr;
}
