.calendar_dialog__header {
    background-color: #F0994D;
    color: #FAFAFA;
    padding: 1rem;
}

.calendar_dialog__header_title {
    text-align: initial;
    margin-right: 8px;
    font-size: var(--default-font);
}

.calendar_dialog__content {
    padding: 1.3rem;
}