.notes__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-top: 40px;
  height: 15%;
}

.notes__header_desktop {
  position: fixed;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  padding-left: 80px;
}

.notes__header__image {
  width: 45px;
  height: 45px;
  margin-right: 20px;
}
