.staff_login__content__signin_form {
	margin-top: 1rem;
}

.staff_login {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding: 0;
	height: 100%;
	background-color: var(--login-background);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.staff_login__logo {
	width: 10rem;
	height: auto;
}

.staff_login__content__message_2 {
	font-size: var(--large-font);
	color: var(--home-icons);
}

.staff_login__content__button {
	margin-top: 5rem;
}

.staff_login__content__message {
	text-align: center;
	font-size: var(--large-font);
	color: var(--light-color);
}

.staff_login__content__info {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0.5rem;
}

.staff_login__content__info p {
	margin-bottom: 0.55rem;
	margin-left: 0.15rem;
	margin-right: 0.15rem;
}

.staff_login__content__info .link_button {
	padding: 0;
	margin-bottom: 0.5rem;
	text-align: center;
	font-size: var(--small-font);
}

.staff_login__content__signin {
	width: 100%;
	margin-left: 4rem;
}

.staff_login__content__signup {
	margin-top: 1.5rem;
}

.staff_login__content__signup .button {
	background-color: var(--home-icons);
	color: var(--dark-color);
	font-weight: bold;
	margin-top: 2vw;
}

.staff_login__content__signin_form input[type=email], 
.staff_login__content__signin_form input[type=password] {
	width: 80%;
	max-height: 1.5rem;
	padding: 0.2rem;
	margin: 0.313rem 0 0.5rem 0;
	display: inline-block;
	border: none;
	border-radius: 0.313rem;
	background: var(--input-background);
}
  
.staff_login__content__signin_form input[type=email]:focus, 
.staff_login__content__signin_form input[type=password]:focus {
	outline: none;
}

.staff_login__content__signin_form input[type=submit] {
	color: var(--base-font-color);
	background-color:var(--header-and-menu);
	border: none;
	border-radius: 0.3rem;
	padding: 0.5rem 1rem;
	margin-top: 3vh;
}

@media (orientation: landscape) {
	.staff_login__logo {
		width: 500px;
	}
	.staff_login__message {
		font-size: xx-large;
	}
}
  