.MuiDialog-paper {
	margin: 0px;
}

.contact__dialog_form__content
	.MuiFormHelperText-root.Mui-error.MuiFormHelperText-filled {
	overflow: hidden;
	text-overflow: ellipsis;
}

.contact__dialog_form__content {
	padding: 16px 24px;
}
