.privacy_policy {
	font-family: var(--font-base);
	font-size: var(--default-font);
	background-color: var(--background-main);
	color: var(--base-font-color);
	width: 100%;
	height: 100%;
	padding: 1.875rem;
	overflow-y: auto;
	overflow-x: hidden;
}

.privacy_policy h2 {
	font-size: var(--very-large-font);
}

.privacy_policy h5 {
	font-size: var(--big-font);
}

.privacy_policy .arrow_back {
	padding: 0rem;
	margin-bottom: 0.625rem;
}

.privacy_policy .icon_button.arrow_back svg {
	fill: var(--contrast-color);
}

.privacy_policy h2 {
	font-weight: 600;
	margin: 1.25rem 0rem 0.938rem 0rem;
}

.privacy_policy h5 {
	margin: 0.938rem 0rem 0.625rem 0rem;
	color: #636363;
}

.privacy_policy p {
	text-align: justify;
	margin: 0.625rem 0rem;
}

.privacy_policy span {
	font-size: var(--small-font);
	text-align: center;
	color: #636363;
}

.privacy_policyul {
	list-style-type: square;
}

.privacy_policy a {
	text-decoration: none;
	color: var(--tag-color);
}

.privacy_policy a:hover {
	text-decoration: none;
	color: var(--board-background);
}

.privacy_policy a:active {
	text-decoration: none;
	color: var(--tag-color);
}
