.note__note_content__column {
  border: 1px solid;
  border-color: rgba(179, 46, 85);
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  margin-right: 7px;
  margin-left: 7px;
  width: 70%;
  height: 95%;
  flex: 0 0 auto;
}

.note__note_content__column:first-of-type {
  margin-left: 14px;
}

.note__note_content__column__title {
  margin-bottom: 15px;
}

.note__note_content__column__droppable {
  height: 90%;
}

.note__note_content__column.desktop {
  width: 25%;
}
