.note__note_content__column {
	flex: 0 0 auto;
	height: 100%;
	padding: 0 0.313rem;
}

.note__note_content__column__draggable {
	border: 0.063rem solid var(--column-border);
	background-color: var(--note-column-background);
	border-radius: 8px;
	padding: 10px 15px 10px 15px;
	width: 270px;
	height: inherit;
}

.note__note_content__column:first-of-type {
	margin-left: 0.875rem;
}

.note__note_content__column__draggable__title {
	margin-bottom: 0.625rem;
	height: 1.25rem;
}

.note__note_content__column__draggable__droppable {
	height: calc(100% - 5rem);
	max-height: calc(100% - 5rem);
}

.note__note_content__column__draggable__droppable__scroll {
	height: calc(100% - 0.625rem);
	overflow-y: auto;
	margin-top: 1.5rem;
}
