.calendar__edit_event_modal__form label {
	margin-bottom: 0;
}

.calendar__edit_event_modal.MuiDialog-root .MuiFormControl-root {
	width: 100%;
}

.calendar__edit_event_modal__form__space_line {
	width: 100%;
	height: 0.063rem;
	background-color: rgba(200, 200, 200, 0.5);
	margin-bottom: 0.625rem;
	margin-top: 0.625rem;
}

.calendar__edit_event_modal__form__weekday_picker {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

.calendar__edit_event_modal__form__weekday_picker__label {
	color: rgba(0, 0, 0, 0.54);
	padding: 0;
	font-size: 0.75rem;
	margin-bottom: 0;
}

.calendar__edit_event_modal__event_name_text_field.MuiFormControl-root {
	margin-bottom: 1.25rem;
}

.calendar__add__modal__form__date_picker.MuiFormControl-root.MuiTextField-root {
	width: 48%;
}

.calendar__add__modal__form__date_picker.MuiFormControl-root.MuiTextField-root.second {
	margin-left: 4%;
}

.calendar__add__modal__event_repeat_button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary,
.calendar__add__modal__event_alert_button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary {
	padding-left: 0rem;
	outline: none !important;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.calendar__edit_event_modal__form__color_selection {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.calendar__edit_event_modal__form__color_selection__color_cicle {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 3.125rem;
	margin-left: 0.625rem;
}

.calendar__edit_event_modal__form__color_selection__label {
	margin-bottom: 0;
	text-transform: uppercase;
}
