.glossary__card_title.card-title {
  font-size: var(--large-font);
}

.glossary__card__subtitle.card-subtitle {
  font-size: var(--big-font);
}

.glossary__card__text {
  font-size: var(--default-font);
}

.glossary__card_title.dino__flex_row.dino__text__wrap.card-title {
  justify-content: space-between;
}