.load {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.load__header {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 7.813rem;
	animation: dino_header_in 750ms forwards;
}

.load__dino_title {
	font-size: 1.5rem;
	color: black;
	font-weight: normal;
	margin-top: 0;
}

.load__dino_logo {
	width: fit-content;
	height: 7.813rem;
	animation: dino_logo_in 750ms 750ms forwards;
}

.load__team {
	opacity: 0;
	width: 100%;
	position: fixed;
	bottom: 1.5rem;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	column-gap: 15%;
	padding: 0 10%;

}

.load__team img {
	width: 0rem;
	height: auto;
}

.load__team__hc {
	animation: teams_logo_in 750ms forwards 0.75s;
}

.load__team__ufrgs, .load__team__pet {
	animation: teams_logo_in 500ms forwards 1.5s;
}

@keyframes dino_logo_in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes dino_header_in {
	from {
		padding-top: 82.5%;
	}
	to {
		padding-top: 0;
	}
}

@keyframes teams_logo_in {
	from {
		width: 0rem;
	}
	to {
		width: 5rem;
	}
}
