.contact_dialog_content_header .MuiTypography-root.MuiCardHeader-title{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    overflow-x: hidden;
}

.contact_dialog_content_header .MuiCardHeader-content{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    overflow-x: hidden;
}