.dialog_form__content .add-phone__button {
  justify-content: center;
  width: 100%;
  padding: 0;
  margin-top: 1rem;
}

.dialog_form__content .add-phone__button p {
  font-size: var(--small-font);
}
