.calendar__event_modal__title h2 {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.calendar__event_modal__title__color {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 10%;
	margin-right: 1rem;
}

.calendar__event_modal .MuiDialog-paperWidthSm {
	height: 100%;
	width: 100%;
}

.calendar__event_modal.MuiDialog-root {
	z-index: 5100;
}

.calendar__event_modal.MuiDialog-root .MuiDialog-paperScrollPaper {
	max-height: 100%;
}

.calendar__event_modal.MuiDialog-root .MuiDialog-paper {
	margin: 0;
}

.calendar__event_modal.MuiDialog-root .MuiPaper-rounded {
	border-radius: 0;
}

.calendar__event_modal.MuiDialog-root .MuiDialogTitle-root {
	padding-bottom: 0;
	padding-left: 1.25rem;
}

.calendar__event_modal .MuiDialogContent-root {
	padding-left: 0rem;
}
