.dino_dialog__header {
  background-color: var(--header-and-menu);
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.dino_dialog__header svg {
  margin-left: auto;
  width: 4rem;
}

.dino_dialog__header__title {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.dino_dialog__header__title h1 {
  font-size: 1.25rem;
  margin: 0;
}

.dino_dialog__content {
  padding: 1.3rem;
  padding-bottom: 0;
  text-align: justify;
}