.note__note_content__columns__add_column {
	padding-right: 0.875rem;
	margin-left: 0.438rem;
	width: 16.875rem;
	flex: 0 0 auto;
}

.note__note_content__columns__add_column.desktop {
	width: 15%;
}

.note__note_content__columns__add_column__button {
	border: 0.063rem solid;
	border-color: var(--column-border);
	background-color: var(--board-background);
	border-radius: 0.313rem;
	width: 100%;
	height: auto;
}

.note__note_content__columns__add_column__button__text {
	line-height: initial;
	font-size: var(--small-font);
	margin-bottom: 0;
	margin-top: 0;
	font-weight: 700;
	color: var(--column-border);
}

.note__note_content__columns__add_column__button__text__max_columns {
	color: red;
}
