.drawer__navigation__content {
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.drawer__navigation__content__component {
	position: relative;
	height: calc(100% - 2.813rem);
	background-color: var(--background-main);
}

.drawer__navigation__content__component__scrollable {
	height: 100%;
	overflow: auto;
}

.drawer__navigation__content__app_bar {
	height: 2.813rem;
}
