.drawer__navigation__content {
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.drawer__navigation__content__component {
	position: relative;
	height: calc(100% - 2.813rem);
	background-color: var(--background-main);
}

.drawer__navigation__content__component__scrollable {
	height: 100%;
	overflow: auto;
}

.drawer__navigation__content__app_bar {
	height: 2.813rem;
}

.MuiList-root.MuiMenu-list.MuiList-padding {
	background-color: var(--background-main);
}

.MuiFormLabel-root.Mui-focused.Mui-focused {
	color: var(--other-details);
}

.MuiInputBase-root.Mui-focused.Mui-focused::after {
	border-bottom-color: var(--other-details);
}