.alert__dialog_title {
	background-color: var(--menu-and-headers-background);
}

.alert__dialog_title .MuiTypography-root {
	color: var(--light-color);
	font-size: var(--default-font);
}

.alert__dialog_title .MuiDialogActions-root.MuiDialogActions-spacing {
	border-top: 0.063rem solid rgb(179, 179, 179);
}

.alert__dialog__description.MuiTypography-body1 {
	font-size: var(--default-font);
}
