.mui-search-bar {
	padding: 10px;
	height: 70px;
}

.mui-search-bar .MuiOutlinedInput-adornedStart {
	border: solid 0.05rem var(--contrast-color);
	padding-left: 0px;
	border-radius: 10px;
}

.mui-search-bar .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.MuiOutlinedInput-root:focus {
	border-color: var(--contrast-color);
	border-width: 0.05rem;
}
