.mui-search-bar {
	padding: 0.625rem;
	height: 4.375rem;
}

.mui-search-bar .MuiOutlinedInput-adornedStart {
	border: solid 0.05rem #BFB9B7;
	padding-left: 0rem;
	border-radius: 0.625rem;
}

.mui-search-bar .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.MuiOutlinedInput-root:focus {
	border-color: #977569;
	border-width: 0.05rem;
}