.faq-items {
  padding: 4px 8px 8px;
  font-size: var(--default-font);
}

.faq-items__title {
  margin: 5px 5px 10px;
}

.faq-items__title p {
  font-size: var(--default-font);
}

.faq-items__accordion {
  padding: 0px;
}