.pwa_control__intro_content__step_three__sync_info {
	border-radius: 50%;
	background-color: var(--header-and-menu);
	min-width: 3rem;
	min-height: 3rem;
	max-width: 3rem;
	max-height: 3rem;
}

.pwa_control__intro_content__step_three__item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 0.5rem;
}

.pwa_control__intro_content__step_three__item p {
	margin-bottom: 0;
	margin-left: 1rem;
}
