.calendar__day__modal__hours__hours_list__line__events__event_item {
	font-size: 0.8em;
	margin-left: 0.125rem;
	color: white;
	padding: 0.125rem;
	padding-left: 0.375rem;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	font-weight: 700;
	border: 0.063rem white solid;
	border-radius: 0.25rem;
	overflow-wrap: anywhere;
	pointer-events: visible;
}

.calendar__day__modal__hours__hours_list__line__events__event_item p {
	margin-bottom: 0;
}
