.calendar__edit_event_modal__form__add_alarm_modal.MuiDialog-root
	.MuiDialog-paperWidthSm {
	width: 100%;
}

.calendar__edit_event_modal__form__add_alarm_modal.MuiDialog-root
	.MuiFormControl-root {
	width: 100%;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
}

.calendar__edit_event_modal__form__add_alarm_modal__time {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 0.938rem;
}

.calendar__edit_event_modal__form__add_alarm_modal__time__text_field
	.MuiInputBase-root {
	background-color: rgb(240, 240, 240);
}

.calendar__edit_event_modal__form__add_alarm_modal__save_button {
	outline: none !important;
}
