.horizontal_pagination {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.horizontal_pagination .slick-slider {
  height: 100% !important;
}

.horizontal_pagination .slick-slider .slick-list {
  height: 100% !important;
}

.horizontal_pagination .slick-slider .slick-list .slick-track {
  height: 100% !important;
}

.horizontal_pagination .slick-slide {
  position: relative;
}

.horizontal_pagination__slide {
  position: absolute;
  width: 100%;
  height: 100%;
}
