.horizontal_pagination {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.horizontal_pagination .slider .slider-frame .slider-list {
  height: 100% !important;
}

.horizontal_pagination .slider .slider-frame .slider-list .slider-slide {
  height: 100% !important;
}

.horizontal_pagination__slide {
  width: 100%;
  height: 100%;
}