.first-login__dialog {
  min-width: 80%;
  min-height: 50%;
}

.first-login__dialog .citation {
  text-align: end;
  font-style: italic;
}

.first-login__dialog .message_dialog .dino_header {
  margin-bottom: 24px;
}

.first-login__dialog .message_dialog .dino_hr {
  margin: 12px 8px;
}
.first-login__dialog .font-size__selector {
  margin-top: 20px;
}

