.dino_stepper.MuiMobileStepper-root {
	display: flex;
	flex-direction: row;
	padding: 0 0 0.5rem 0;
	background: var(--dialog-background);
	color: var(--base-font-color);
	width: 100%;
}

.dino_stepper .MuiLinearProgress-colorPrimary {
	background-color: rgba(204, 204, 204, 0.5);
}

.dino_stepper.MuiMobileStepper-root > :nth-child(2) {
	justify-content: center;
	width: 20%;
}

.dino_stepper .MuiMobileStepper-dotActive {
	background-color: #c2740f;
}

.dino_stepper .MuiLinearProgress-barColorPrimary {
	background-color: var(--note-card-background);
}

.dino_stepper :is(.save__button, .cancel__button, .back__button, .next__button) {
	margin: 0rem;
	padding: 0rem;
	margin-right: 0.3rem;
	font-size: var(--default-small-font);
	overflow: hidden;
	text-overflow: ellipsis;
}

.dino_stepper .empty__action {
	width: 5rem;
}

.dino_stepper .next__button {
	margin-left: 0.3rem;
}

.dino_stepper .back__button {
	margin-right: 0.3rem;
}
