.dino_stepper.MuiMobileStepper-root {
	display: flex;
	flex-direction: row;
	padding: 0 0 0.5rem 0;
}

.dino_stepper.MuiMobileStepper-root > :nth-child(1),
.dino_stepper.MuiMobileStepper-root > :nth-child(2),
.dino_stepper.MuiMobileStepper-root > :nth-child(3) {
	display: flex;
	align-items: center;
}

.dino_stepper.MuiMobileStepper-root > :nth-child(1),
.dino_stepper.MuiMobileStepper-root > :nth-child(3) {
	width: 40%;
}

.dino_stepper.MuiMobileStepper-root > :nth-child(1) {
	justify-content: flex-start;
}

.dino_stepper.MuiMobileStepper-root > :nth-child(2) {
	justify-content: center;
	width: 20%;
}

.dino_stepper.MuiMobileStepper-root > :nth-child(3) {
	justify-content: flex-end;
}

.dino_stepper.MuiMobileStepper-root {
	background: var(--other-details);
	color: var(--base-font-color);
	width: 100%;
}

.dino_stepper .MuiMobileStepper-dotActive {
	background-color: #c2740f;
}

.dino_stepper .save__button,
.dino_stepper .cancel__button,
.dino_stepper .back__button,
.dino_stepper .next__button {
	margin: 0rem;
	padding: 0rem;
	margin-right: 0.3rem;
	font-size: var(--default-small-font);
	overflow: hidden;
	text-overflow: ellipsis;
}

.dino_stepper .empty__action {
	width: 5rem;
}

.dino_stepper .next__button {
	margin-left: 0.3rem;
}

.dino_stepper .back__button {
	margin-right: 0.3rem;
}
