.dino_stepper.MuiMobileStepper-root {
  background: var(--other-details);
  color: var(--base-font-color);
  width: 100%;
}

.dino_stepper .MuiMobileStepper-dotActive {
  background-color: #c2740f
}

.dino_stepper .next__button  {
  margin-left: 20px;
}

.dino_stepper .back__button  {
  margin-right: 20px;
}

.dino_stepper .save__button {
  margin-right: 24px;
  margin-left: 20px;
}

.dino_stepper .cancel__button {
  margin-left: 24px;
  margin-right: 20px;
}