.warning_dialog {
	position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
	width: 70vw;
	min-height: 46vh;
    max-height:61vh;
    top: 27vh;
	z-index: 10;
	animation-name: animatetop;
  	animation-duration: 0.4s
}

.warning_dialog.dialog_input {
    top: 17vh;
}

.warning_dialog__circle {
    background-color: var(--dialog-circle-background-color);
    border: solid var(--dialog-circle-border-color) 0.6rem;
    width: 40vmin;
    height: 40vmin;
    border-radius: 50%;
    z-index: 11;
}

.warning_dialog__circle svg {
    width: 30vmin;
    height: 30vmin;
    margin-top: 2.5vmin;
    margin-left: 2.5vmin;
}

.warning_dialog__content {
    width: 70vw;
	height: 40vh;
    margin-top: -7rem;
    padding-top: 8rem;
    border-radius: 1rem;
	text-align: center;
    background-color: var(--dialog-background-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 10;

}

.dialog_input .warning_dialog__content {
	height: 55vh;
    text-align: justify;
    padding-left: 1.3rem;
}

.warning_dialog__content_form {
    margin-top: 2rem;
}

.dialog_input .warning_dialog__content input {
    background-color: #C0B3C5;
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 94%;
    height: 4%;
    margin-bottom: 1rem;
}

.warning_dialog__content__buttons {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}

.warning_dialog__content__buttons .button {
    background-color: #F5F5F5;
    color: var(--dialog-background-color);
    font-size: var(--small-font);
    margin-left: 0.5rem;
}

@keyframes animatetop {
	from {opacity:0}
	to {opacity:1}
  }