.contacts {
    padding: 10px;
  }
  
  .search-bar {
      margin: 0px;
    }
    
  input[type="text"], textarea {
      outline: none;
      box-shadow: none !important;
      border:1px solid #ccc !important;
  }