.section {
  padding-bottom: 32px
}

.section__title {
  margin-bottom: .8rem;
}

.section__image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 16px;
}

.section__footnote {
  padding: 10px 20px;
  text-align: center;
  font-style: italic;
}

.section__text {
  white-space: pre-wrap;
}