.card_header__wrapper {
	justify-content: space-between;
}

.calendar_dialog__header .MuiTypography-root {
	color: var(--calendar-event-cards-font-color);
}

.card_event__icon_button .dino_icon_button__button svg {
	fill: var(--calendar-event-cards-font-color);
}
.event_section {
	padding: 0.4em 0;
}
