.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters{
    position: absolute;
    width: 100vw;
    padding-left: 10px;
}

.MuiPaper-root.MuiDrawer-paper {
    background-color: black;
    width: 100vw;
}

.makeStyles-content-15 .makeStyles-drawerHeader-11 {
    height: 0px;
}
