.first_settings {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	opacity: 0.5;
}

.first_settings__dialog {
	min-width: 80%;
	min-height: 50%;
}

.first_settings__dialog h5 {
	font-size: var(--big-font);
}

.first_settings__dialog h6 {
	font-size: var(--default-font);
}

.first_settings__dialog p {
	font-size: var(--default-font);
}

.first_settings__dialog .MuiInputLabel-root {
	font-size: var(--default-font);
}

.first_settings__dialog .MuiInputBase-root {
	font-size: var(--default-font);
}

.first_settings__dialog .citation {
	text-align: end;
	font-style: italic;
}

.first_settings__dialog .message_dialog .dino_header {
	margin-bottom: 1.5rem;
}

.first_settings__dialog .message_dialog .dino_hr {
	margin: 0.75rem 0.5rem;
}

.first_settings__dialog .message_dialog.set_password p {
	font-size: var(--default-font);
}

.first_settings__dialog .message_dialog.set_password input {
	margin-bottom: 0.7rem;
	width: 100%;
	padding: 0.2rem;
	border-radius: 1rem;
	background-color: var(--dialog-input);
	font: var(--default-font);
	color: var(--base-font-color);
	border: none;
}

.set_password__error_message {
	color: #FF7676;
}