.first_settings {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	opacity: 0.5;
}

.first-settings .dino_dialog__actions{
	padding: 16px;
}

.first_settings__dialog h5 {
	font-size: var(--big-font);
}

.first_settings__dialog h6 {
	font-size: var(--default-font);
}

.first_settings__dialog p {
	font-size: var(--default-font);
}

.first_settings__dialog .MuiInputLabel-root {
	font-size: var(--default-font);
}

.first_settings__dialog .MuiInputBase-root {
	font-size: var(--default-font);
}

.first_settings__message_dialog { 
	padding: 16px 20px;
}

.first_settings__message_dialog .citation {
	text-align: end;
	font-style: italic;
}

.first_settings__message_dialog .dino_header {
	margin-bottom: 24px;
}

.first_settings__message_dialog .dino_hr {
	margin: 12px 8px;
}
.first_settings__message_dialog .font-size__selector {
	margin-top: 20px;
}

.first_settings__dialog .message_dialog.set_password p {
	font-size: var(--default-font);
}

.first_settings__dialog .message_dialog.set_password input {
	margin-bottom: 0.7rem;
	width: 100%;
	padding: 0.2rem;
	border-radius: 1rem;
	background-color: var(--dialog-input);
	color: var(--base-font-color);
	border: none;
}

.set_password__error_message {
	color: #FF7676;
}