.time__selector{
    margin-top:2rem;
}

.drop_down__flex_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.padding_adjustment{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}