.note__note_dialog__actions {
    display: flex;
    align-content: center;
    width: 100%;
}

.note__note_dialog__actions .MuiButtonBase-root.MuiButton-root {
  background-color: #b32e55;
  font-size: medium;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  outline: none;
}

.note__note_dialog__actions.MuiDialogActions-root {
   padding: 10px 24px;
}