.note_create_dialog .MuiFormControl-root.MuiTextField-root {
	margin-bottom: 1rem;
	width: 100%;
}

.note_create_dialog .MuiDialogTitle-root {
	background-color: var(--header-and-menu);
	margin-bottom: 0.5rem;
}

.note_create_dialog .MuiTypography-root.MuiTypography-h6 {
	color: var(--base-font-color);
	font-size: var(--default-font);
}

.note_create_dialog
	.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary {
	color: var(--column-font-color);
}
