.button-add.MuiButtonBase-root.MuiFab-root {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 20px;
  background-color: var(--home-icons);
  color: white;
  outline: none;
}

@media (orientation: landscape) {
  .button-add.MuiButtonBase-root.MuiFab-root {
    bottom: 15px;
  }
}
