.staff_registry__content__signin_form {
	margin-top: 1rem;
}

.staff_registry {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 10vmin;
	background-color: var(--login-background);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.staff_registry__content__message_2 {
	margin-top: 10vmin;
	font-size: var(--large-font);
	color: var(--home-icons);
}

.staff_registry__content__message {
	text-align: center;
	font-size: var(--large-font);
	color: var(--light-color);
}

.staff_registry__content__info {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0.5rem;
}

.staff_registry__content__info p {
	margin-bottom: 0.55rem;
	margin-left: 0.15rem;
	margin-right: 0.15rem;
}

.staff_registry__content__info .link_button {
	padding: 0;
	margin-bottom: 0.2rem;
	text-align: center;
	font-size: var(--small-font);
}

.staff_registry__content__signin {
	width: 100%;
	margin-left: 6rem;
}

.staff_registry__content__signup {
	margin-top: 1.5rem;
}

.staff_registry__content__signin_form label {
	margin-bottom: 0.2rem;
}

.staff_registry__content__signin_form input[type=email], input[type=password], input[type="text"] {
	width: 90%;
	max-height: 1.5rem;
	padding: 0.2rem;
	margin: 0.313rem 0 0.5rem 0;
	display: inline-block;
	border: none;
	border-radius: 0.313rem;
	background: var(--input-background);
}
  
.staff_registry__content__signin_form input[type=email]:focus, input[type=password]:focus, input[type="text"]:focus {
	outline: none;
}

.staff_registry__content__signin_form input[type=submit] {
	color: var(--base-font-color);
	background-color:var(--header-and-menu);
	border: none;
	border-radius: 0.3rem;
	padding: 0.5rem 1rem;
	margin: 3vh 0 5vh 40vw;
}

.staff_registry__content__signin_form input[type=checkbox] {
	height: 1.25rem;
	width: 1.25rem;
	margin: 0.5rem 0.5rem 0 0;
	box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

#agreement {
	font-size: var(--small-font);
}

@media (orientation: landscape) {
	.staff_registry__message {
		font-size: xx-large;
	}
}
  