.settings {
	display: flex;
	flex-direction: column;
	padding: 1.25rem 1.25rem;
}

.settings .dino_hr {
	margin: 0.313rem 1.25rem;
}

.settings .settings__form {
	align-self: center;
	width: 90%;
	margin: 10px;
}

.settings__title {
	width: 100%;
	text-align: center;
}

.settings__title.MuiTypography-root {
	font-weight: 700;
	font-size: var(--big-font);
	margin-bottom: 1.5rem;
	color: var(--menu-and-titles-font-color);
}

.settings__form__delete_account {
	font-size: var(--small-font);
	color: #ed2939;
	text-transform: uppercase;
}

.settings__delete_account_dialog p {
	margin: 0;
}

.settings__delete_account_dialog__buttons {
	font-size: var(--default-font);
	margin-left: 1rem;
}

.settings__delete_account_dialog__buttons.delete_button {
	color: #ed2939;
	width: 8vh;
	padding: 0;
}

.settings__delete_account_dialog__buttons__delete_button {
	margin-left: 1rem;
}

.settings__change_password_dialog input {
	margin-bottom: 0.7rem;
	width: 100%;
	padding: 0.2rem;
	border-radius: 1rem;
	background-color: var(--dialog-background);
	color: var(--base-font-color);
	border: none;
}

.settings__change_password_dialog .dino_dialog__header__title h1 {
	font-size: var(--very-large-font);
}

.settings__change_password_dialog__error_message {
	color: #ff7676;
}
