.settings {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
  min-height: 100%;
}

.settings__form {
  align-self: center;
  width: 90%;
  margin-bottom: 20px !important;
}

.settings__title {
  width: 100%;
  text-align: center;
}

.settings__save_button_container {
  margin-top: auto;
  align-items: flex-end;
  align-self: center;
  width: 50%;
}

.settings__save_button {
  width: 100%;
  margin-top: auto;
}

.settings__save_button__icon {
  width: 18px;
  height: 18px;
  margin-left: -10px;
  fill: var(--header-and-menu-icons);
}

.settings__save_button.MuiButtonBase-root {
  margin-top: 50px;
  background-color: var(--header-and-menu);
}

.settings__save_button.MuiButtonBase-root .MuiButton-label {
  color: var(--menu-font-color);
}

.settings__title.MuiTypography-root {
  font-weight: 700;
  font-size: large;
  margin-bottom: 40px;
}

.settings__grant {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.settings__grant p {
  margin: 0;
}

.settings__grant__switch {
  margin-left: auto;
}

.settings__grant__switch .MuiSwitch-track {
  height: 18px;
  border-radius: 18px;
}

.MuiSwitch-root.settings__grant__switch {
  display: flex;
  justify-content: center;
  align-items: center;
}