.settings {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
  min-height: 100%;
}

.settings__form {
  align-self: center;
  width: 90%;
  margin-bottom: 20px !important;
}

.settings__title {
  width: 100%;
  text-align: center;
}

.settings__save_button_container {
  margin-top: auto;
  align-items: flex-end;
  align-self: center;
  width: 50%;
}

.settings__save_button {
  width: 100%;
  margin-top: auto;
}

.settings__save_button__icon {
  width: 18px;
  height: 18px;
  margin-right:7px;
  fill: var(--inv-constrast-color);
}

.settings__save_button.MuiButtonBase-root {
  margin-top: 50px;
  background-color: var(--header-and-menu);
}

.settings__save_button.MuiButtonBase-root .MuiButton-label {
  color: var(--light-color);
}

.settings__title.MuiTypography-root {
  font-weight: 700;
  font-size: large;
  margin-bottom: 40px;
}

