.select-faq__button {
    margin: auto;
    display: flex;
}

.send-question__button {
    text-decoration: underline;
    color:blue; 
    border: none;
    background: none;
    cursor: pointer;
    display: block;
    padding: 7px; 
    margin:auto;
    display:block;
}
  
.send-question__button:hover {
    color: lightblue;
}

.send-question__button:focus {
    outline: none;
}
