.faq__content {
	position: absolute;
	width: 100%;
	height: calc(100% - 60px);
	overflow-y: auto;
	font-size: var(--default-font);
}

.select-faq__button {
	margin: auto;
	display: flex;
}

.select-faq__button .MuiButton-outlinedPrimary {
	border-color: var(--column-font-color);
}

.select_faq_button {
	margin: auto;
	margin-top: 50%;
}

.card-header .MuiTypography-body1 {
	font-size: var(--default-font);
}

.faq__fail_to_load {
	width: 100%;
	height: 100%;
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.faq__fail_to_load p {
	font-size: var(--big-font);
	margin-bottom: 2rem;
}

.faq__save_button {
	margin-top: 2rem;
}

.save_button__icon {
	margin-right: 0.5rem;
	width: 18px;
	height: 18px;
	fill: var(--contrast-color);
}

.faq__loader {
	width: 100%;
	height: 100%;
}

.faq__content .link_button {
	font-size: var(--small-font);
}
