button.link_button {
	color: var(--buttons-font-color);
	border: none;
	background: none;
	cursor: pointer;
	display: block;
	padding: 0.438rem;
	margin: auto;
	font-size: var(--small-font);
}

button.link_button:hover,
button.link_button:focus {
	color: var(--button-selected-font-color);
	outline: none;
	text-decoration: underline;
}
