.slider_dino .piece {
  font-size: 30px;
  font-weight: bold;
  height: 80px;
  width: 80px;
  background-color: #C2B3A3;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(88, 83, 69);
  border-radius: 40%;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), inset 0px 4px 4px rgb(255 255 255 / 25%);
}

.slider_dino .piece.reduced {
  font-size: 45px;
}

.slider_dino .piece_2 {
  font-size: 45px;
  background-color: #f28187;
  color: whitesmoke;
}

.slider_dino .piece_4 {
  font-size: 45px;
  background-color: #f6c358 ;
  color: whitesmoke;

}

.slider_dino .piece_8 {
  font-size: 45px;
  background-color: #8184ee;
  color: whitesmoke;

}

.slider_dino .piece_16 {
  font-size: 45px;
  background-color: #ec9772;
  color: whitesmoke;

}

.slider_dino .piece_32 {
  font-size: 45px;
  background-color: #bbcd85;
  color: rgb(88, 83, 69);
}

.slider_dino .piece_64 {
  font-size: 45px;
  background-color: #7ac66b;
  color: whitesmoke;

}

.slider_dino .piece_128 {
  background-color: #f4b469;
  font-size: 40px;
}

.slider_dino .piece_256 {
  background-color: #b468e5;
  color: whitesmoke;

  font-size: 40px;
}

.slider_dino .piece_512 {
  background-color: #a2c75d;
  color: whitesmoke;
  font-size: 40px;
}

.slider_dino .piece_1024 {
  background-color: #77aecc;
  color: whitesmoke;

}

.slider_dino .piece_2048 {
  background-color: #86e5a8;
}