@media only screen and (min-device-width: 1224px) {
    #snake_game__score_board {
        margin-left: 10vmin;
    }
}

@media only screen and (max-device-width: 1223px) {
    #snake_game__score_board {
        margin-bottom: 10vmin;
    }
}

.snake_game {
    background-image: url(../../../assets/kids_space/snake/outter_board_background.png);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0; 
}


button {
    background-color: #f5f5f5;
    color: #694E73;
    float: right;
    border-radius: 0.6rem;
    border: none;
    margin-left: 1rem;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.snake_game__food {
    width: 100%;
}

.snake_game__snake {
    width: 100%;
}

#snake_game__game_board {
    background-image: url(../../../assets/kids_space/snake/inner_board_background.png);
    background-size: contain;
    height: 100vmin;
    width: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

#snake_game__score_board {
    background-color: #694E73;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#snake_game__score_board p {
    font-weight: bold;
    margin-bottom: 0;
}

.snake_game__dialog p {
	font-size: var(--default-small-font);
}

.snake_game__dialog__buttons {
	margin-left: auto;
	padding: 0.5rem;
}

.snake_game__dialog__buttons__accept_button.MuiButtonBase-root {
	background-color: var(--header-and-menu);
	margin-left: 0.5rem;
}