.terms_of_use {
	font-family: var(--font-base);
	font-size: var(--default-font);
	text-align: justify;

	background-color: var(--background-main);
	color: var(--base-font-color);

	width: 100%;
	height: 100%;
	padding: 1.875rem;
	overflow-y: auto;
	overflow-x: hidden;
}

.terms_of_use h2 {
	font-size: var(--very-large-font);
}

.terms_of_use h5 {
	font-size: var(--big-font);
}

.terms_of_use .arrow_back {
	padding: 0rem;
	margin-bottom: 0.625rem;
}

.terms_of_use .icon_button.arrow_back svg {
	fill: var(--contrast-color);
}

.terms_of_use h2 {
	font-weight: 700;
	margin: 1.25rem 0rem 0.938rem 0rem;
}

.terms_of_use h4 {
	margin: 0.938rem 0rem 0.625rem 0rem;
	color: #636363;
}

.terms_of_use h5 {
	font-style: italic;
	margin: 0.938rem 0rem 0.625rem 0rem;
	color: #636363;
}

.terms_of_use p {
	margin: 0.625rem 0rem;
}

.terms_of_use span {
	font-size: var(--default-small-font);
	text-align: center;
	color: #636363;
}

.terms_of_use ul {
	list-style-type: square;
}

.terms_of_use a {
	text-decoration: none;
	color: var(--tag-color);
}

.terms_of_use a:hover {
	text-decoration: none;
	color: var(--board-background);
}

.terms_of_use a:active {
	text-decoration: none;
	color: var(--tag-color);
}
