.home .home__grid {
	width: 90%;
	display: grid;
	grid-template-columns: 48% 48%;
	grid-gap: 0 4%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
}

.home .home__grid__button {
	padding: 0rem;
	border-radius: 0.5rem;
}

.home__grid__item {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.home .home__grid__button .MuiPaper-rounded {
	border-radius: 0.5rem;
}

.home__grid__item__name {
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	height: 2.5rem;
	font-size: var(--big-font);
	font-weight: 700;
	color: var(--contrast-color);
	margin-top: 4px;
	text-align: center;
}

p.home__grid__item__name {
	margin: 0.5rem;
}

.home .home__grid__button {
	background-color: var(--home-icons);
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 9.72rem;
	min-height: 9.72rem;
}

.home .home__grid__button #treatment_icon {
	fill: transparent;
	transform: scale(1.5);
}

.home .home__grid__button svg {
	width: 100%;
	height: auto;
	padding: 0.5rem;
	height: auto;
	fill: var(--dark-color);
	opacity: 0.7;
}

.home .info__grid {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	padding: 1.5rem 1.5rem 0rem;
	grid-gap: 0rem 1.5rem;
}

.info__grid__item {
	width: 100%;
	height: 2.5rem;
	background-color: var(--horizontal-menu-item);
	font-size: var(--big-font);
	font-weight: 700;
	text-align: center;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
	overflow: hidden;
}

.info__grid__item p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-bottom: 0;
}

@media (orientation: landscape) {
	.home .home__grid {
		grid-template-columns: 30% 30% 30%;
		gap: 0 4%;
		margin: 2vh 5vw 4vh 5vw;
	}

	.home .info__grid {
		width: 90%;
		grid-template-columns: 30% 30% 30%;
		gap: 0 4%;
	}

	.info__grid__item {
		height: 5vh;
		margin: 0 5vw;
	}

	.home .home__avatar {
		margin-top: 2.5rem;
		width: 12.5rem;
		height: 12.5rem;
	}

	.home .home__grid__button {
		width: 25vw;
		height: 20vh;
	}

	.home .home__grid__button svg {
		width: 18vh;
		height: 18vh;
	}

	.home__grid__item {
		height: calc(100% + 5rem);
	}
}
