.home .home__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px;
  grid-gap: 40px 32px;
}

.home .home__grid__button {
  width: 100%;
  padding: 0px;
  border-radius: 8px;
}

.home .home__grid__button .MuiPaper-rounded {
  border-radius: 8px;
}

.home .home__grid__paper {
  width: 100%;
  height: calc(50vw - 24px);
  background-color: var(--home-icons);
  place-items: center;
  display: grid;
}

.home .home__grid__paper .img {
  width: inherit;
  height: inherit;
  display: inherit;
  place-items: inherit;
}

.home .home__grid__paper::before {
  content: "";
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute; 
}

.home .home__grid__paper.__g::before {
  background-image: url(../../../assets/icons/menu_icons/glossary.svg);
}

.home .home__grid__paper.__n::before {
  background-image: url(../../../assets/icons/menu_icons/note.svg);
}

.home .home__grid__paper.__c::before {
  background-image: url(../../../assets/icons/menu_icons/phone.svg);
}

.home .home__grid__paper.__f::before {
  background-image: url(../../../assets/icons/menu_icons/faq.svg);
}

.home .home__grid__paper.__s::before {
  background-image: url(../../../assets/icons/menu_icons/settings.svg);
}

.home .home__paper__string {
  font-size: 5.5vmin;
  font-weight: bold;
  color: var(--constrast-font-color);
  z-index: 2;  
}
