.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .home__avatar {
  margin-top: 60px;
  width: 125px;
  height: 125px;
}

.home .home__username,
.home .home__welcome_message {
  margin-top: 25px;
  font-weight: 700;
  font-size: large;
}

.home .home__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 12px;
  grid-gap: 12px;
}

.home .home__grid__paper {
  width: 100%;
  height: calc(50vw - 18px);
  /* background-image: url(../../../assets/icons/menu_icons/glossary.svg); */
  background-size: cover;
  display: grid;
  place-items: center;
}


.home .home__grid__button {
  width: 100%;
  padding: 0px;
}

.home .home__grid__paper .img {
  position: absolute;
  /* left: 0;
  top: 0;
  width: 100%;
  height: auto; */
  opacity: 0.6;
}

.home .home__grid__paper .home__paper__string {
  font-size: 5.5vmin;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

@media (orientation: landscape) {
  .home .home__avatar {
    margin-top: 40px;
    width: 200px;
    height: 200px;
  }

  .home .home__username {
    font-size: x-large;
  }

  .home .home__welcome_message {
    margin-top: 25px;
    font-size: xx-large;
  }
}
