.calendar__day__modal.mobile .MuiDialog-container.MuiDialog-scrollPaper {
	position: absolute;
	top: 3.438rem;
	margin-bottom: 4.375rem;
	height: calc(100% - 7.813rem);
	left: 0;
	right: 0;
}

.calendar__day__modal.desktop .MuiDialog-container.MuiDialog-scrollPaper {
	position: absolute;
	top: 3.438rem;
	bottom: 0rem;
	left: 4.563rem;
	right: 0;
}

.calendar__day__modal .MuiPaper-rounded {
	border-radius: 0;
}

.calendar__day__modal .MuiDialog-paper {
	margin: 0;
}

.calendar__day__modal .MuiDialog-paperWidthSm {
	width: 100%;
}

.calendar__day__modal .MuiDialog-paperWidthSm {
	max-width: 100%;
}

.calendar__day__modal .MuiDialog-paperScrollPaper {
	max-height: 100%;
	height: 100%;
}
