.about-us {
  padding: 10px;
}

.card__header {
  padding: 20px 16px 0px;
  text-align: center;
}

.card__content {
  padding: 16px 20px;
  text-align: justify;
}

.about-us .dino_hr {
  margin: 10px 24px;
}
