.calendar__add_button .MuiFab-primary {
	position: fixed;
	width: 3.125rem;
	height: 3.125rem;
	bottom: 5.313rem;
	right: 0.625rem;
	background-color: #7abe2c;
	color: white;
	outline: none;
}

.calendar__add_button .MuiDialog-paper {
	margin: 0;
}
