.note__note_content__column__column_card {
  width: 100%;
  margin-bottom: 10px;
}

.note__note_content__column__column_card__card__card_content {
  overflow: auto;
  -ms-overflow-style: none;
}

.note__note_content__column__column_card__card__card_content.MuiCardContent-root {
  padding-top: 16px;
}

.note__note_content__column__column_card__card__card_content:last-child {
  padding-bottom: 16px;
}

.note__note_content__column__column_card__card__card_content::-webkit-scrollbar {
  display: none;
}

.note__note_content__column__column_card .MuiCardHeader-root {
  padding: 16px;
  padding-bottom: 0px;
}

.note__note_content__column__column_card
  .MuiCardHeader-content
  .MuiTypography-root.MuiCardHeader-title {
  font-size: medium;
  word-break: break-word;
}

.note__note_content__column__column_card
  .MuiCardHeader-content
  .MuiTypography-root.MuiCardHeader-subheader {
  font-size: x-small;
}

.note__note_content__column__column_card.MuiPaper-rounded {
  border-radius: 3px;
}

.note__note_content__column__column_card__card__card_content__answer {
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: smaller;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}