.note__note_content__column__column_card {
	width: 100%;
	margin-bottom: 0.625rem;
}

.note__note_content__column__column_card .MuiTypography-root {
	color: var(--dark-color);
}

.note__note_content__column__column_card__card__card_content .MuiChip-label {
	color: var(--dark-color);
	font-size: var(--small-font);
}

.note__note_content__column__column_card__card__card_content.MuiCardContent-root {
	padding-top: 0rem;
}

.note__note_content__column__column_card__card__card_content:last-child {
	padding-bottom: 1rem;
}

.note__note_content__column__column_card__card__card_content::-webkit-scrollbar {
	display: none;
}

.note__note_content__column__column_card .MuiCardHeader-root {
	padding: 1rem;
}

.note__note_content__column__column_card
	.MuiCardHeader-content
	.MuiTypography-root.MuiCardHeader-title {
	font-size: var(--default-font);
	word-break: break-word;
}

.note__note_content__column__column_card
	.MuiCardHeader-content
	.MuiTypography-root.MuiCardHeader-subheader {
	font-size: var(--very-small-font);
}

.note__note_content__column__column_card.MuiPaper-rounded {
	border-radius: 0.5rem;
	background-color: var(--note-background);
}

.note__note_content__column__column_card__card__card_answer.MuiCardActions-root {
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: var(--note-answer-background);
	color: var(--dark-color);
}

.note__note_content__column__column_card__card__card_answer.MuiCardActions-root
	p {
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	margin: 0;
	font-size: var(--default-font);
}
