.tag_search_bar {
	width: 100%;
}

.tag_search_bar .MuiFormLabel-root.Mui-focused {
	color: rgba(0, 0, 0, 0.23);
}

.tag_search_bar .MuiOutlinedInput-notchedOutline {
	border-color: var(--search-bar-border-color);
	border-width: 0.05rem;
	border-radius: 0.625rem;
}

.tag_search_bar .MuiSvgIcon-root {
	fill: var(--search-bar-font-color);
}

.tag_search_bar
	.MuiOutlinedInput-root.Mui-focused
	.MuiOutlinedInput-notchedOutline {
	border-width: 0.1rem !important;
}

.tag_search_bar .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
	border-color: var(--search-bar-border-color);
	border-width: 0.05rem;
}
