.drawer_navigation__drawer {
	height: 100%;
	width: 15rem;
	display: flex;
	flex-direction: row;
	overflow: auto;
	background-color: var(--menu-and-headers-background);
	margin-left: -15rem;
}

.drawer_navigation__drawer__visible {
	height: 100%;
	width: 15rem;
	overflow: hidden;
}

.drawer_navigation__drawer__visible__menu__icon {
	width: var(--very-large-font);
	height: auto;
}

.drawer_navigation__drawer__visible__menu__icon .st0{
	fill: var(--base-font-color);
}

.drawer_navigation__drawer__visible__menu__icon .st1{
	stroke: var(--base-font-color);
}

.drawer_navigation__drawer__visible .MuiListItemIcon-root {
	margin-bottom: 0.25rem;
	margin-right: 0.625rem;
	min-width: 0rem;
	max-height: 1.6rem;
}

.drawer_navigation__drawer__visible
	.MuiTypography-root.MuiListItemText-primary {
	color: var(--base-font-color);
}

.drawer_navigation__drawer__invisible {
	position: fixed;
	z-index: 888;
	top: 0rem;
	left: 0rem;
	height: 100%;
	width: 100vw;
	background-color: #0000004d;
	border: none;
}

.drawer_navigation__drawer__invisible:focus {
	outline: 0;
}

.drawer_navigation__drawer__header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 2.813rem;
}

.drawer_navigation__drawer__content {
	overflow-y: auto;
	height: calc(100% - 2.813rem);
	padding: 0.5rem;
}

.drawer_navigation__drawer__visible .MuiList-root.MuiList-padding {
	padding-top: 0rem;
	padding-bottom: 0rem;
}

.drawer_navigation__drawer__visible__item_image {
	width: 1.875rem;
	height: 1.875rem;
}

.drawer_navigation__drawer__visible .user {
	color: var(--base-font-color);
	padding: 0.5rem 1rem;
}

.user__avatar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.user__avatar__loader,
.user__avatar .avatar {
	width: 8rem;
	height: 8rem;
	margin-bottom: 0.625rem;
}

.user__avatar__loader .loader__screen {
	border-radius: 50%;
}

.drawer_navigation__drawer__visible .user .username {
	font-weight: 700;
	font-size: var(--default-font);
	color: inherit;
	margin-top: 1rem;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.drawer_navigation__drawer__visible
	.MuiTypography-root.MuiListItemText-primary {
	text-align: left;
}

.user__avatar {
	position: relative;
}

.user__avatar__sync_info {
	position: absolute;
	bottom: 0.5rem;
	right: 2.8rem;
	border-radius: 50%;
	background-color: var(--menu-and-headers-background);
	width: 2rem;
	height: 2rem;
}

@media (orientation: landscape) {
	.drawer_navigation__drawer {
		width: 20rem;
		margin-left: -20rem;
	}

	.drawer_navigation__drawer__visible {
		width: 20rem;
	}

	.drawer_navigation__drawer__visible
	.MuiTypography-root.MuiListItemText-primary {
		font-size: 1.25rem;
	}

	.drawer_navigation__drawer__visible .user .username {
		font-size: 1.2rem;
	}

	.user__avatar__loader,
	.user__avatar .avatar {
		width: 11rem;
		height: 11rem;
	}

	.user__avatar__sync_info {
		width: 2.5rem;
		height: 2.5rem;
		right: 3.5rem;
		bottom: 0.7rem;
	}
}