.calendar__month__content__week_day_column__header {
	display: flex;
	width: 100%;
}

.calendar__month__content__week_day_column__header__info {
	display: flex;
	width: 100%;
}

.calendar__month__content__week_day_column__header__info h2 {
	margin-bottom: 0.2em;
	width: 100%;
	text-align: center;
	font-size: 0.7em;
}

.calendar__month__content__week_day_column__header__separation_bar {
	width: 1px;
	height: 0.4em;
	background-color: #b9b9a2;
	align-self: flex-end;
}
