body {
	overscroll-behavior-y: contain;
}

body .MuiTypography-root,
body .MuiChip-label,
body .MuiBottomNavigationAction-label,
body .MuiButton-label,
body .MuiFormLabel-root,
body .MuiInputBase-root,
.dino_dialog__header,
.dino_dialog__content {
	font-family: var(--font-base);
	/* text-align: justify; */
	color: var(--base-font-color);
}

.app {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: var(--font-base);
	overflow: hidden;
	color: var(--base-font-color);
}