body .MuiListItemText-root .MuiTypography-body1 {
	font-size: var(--default-font);
	overflow: hidden;
	text-overflow: ellipsis;
}

body .MuiFormLabel-root {
	font-size: var(--default-font);
	white-space: nowrap;
	text-overflow: ellipsis;
}

body .PrivateNotchedOutline-legendLabelled-3 span {
	overflow: hidden;
	text-overflow: ellipsis;
}

body .MuiDialogActions-spacing > :not(:first-child) {
	margin-left: 0;
}

body .MuiIconButton-root,
body .MuiSelect-icon,
body .MuiSvgIcon-root {
	/* fill: var(--contrast-color); */
	fill: var(--contrast-color);
}

body .MuiInput-underline:before {
	border-bottom: 0.063rem solid var(--base-font-color);
}

.MuiDialog-root {
	outline: none;
}

.MuiButtonBase-root.MuiIconButton-root {
	outline: none;
}

body .MuiInputBase-root {
	font-size: var(--default-font);
}

.MuiPaper-root.MuiMenu-paper,
.MuiPaper-root.MuiDialog-paper {
	background-color: var(--other-details);
	color: var(--base-font-color);
}

.app .MuiPaper-root,
.app .card {
	background-color: var(--other-details);
	color: var(--base-font-color);
}

.MuiTypography-root.MuiDialogContentText-root {
	color: var(--base-font-color);
}

.MuiAutocomplete-popper {
	background-color: var(--other-details);
}

.MuiCardHeader-action button.button.icon_button {
	margin: 0rem 0.125rem;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-animated {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-animated.MuiInputLabel-shrink {
  width: 135%;
}

.MuiFormHelperText-root.Mui-required.MuiFormHelperText-marginDense {
	font-size: var(--very-small-font);
}

.MuiTabs-root .MuiTabs-indicator {
	background-color: var(--tab-highlight-color);
}

.MuiTabs-root .MuiTab-textColorPrimary.Mui-selected {
	color: var(--tab-highlight-color);
}

.MuiBadge-root .MuiBadge-colorSecondary {
	background-color: var(--button-font-color);
}

.app .MuiFormLabel-root.Mui-focused,
.dino_dialog .MuiFormLabel-root.Mui-focused {
	color: var(--highlight-color);
}
.app .MuiInput-underline:after,
.dino_dialog .MuiInput-underline:after {
	border-bottom: 2px solid var(--highlight-color);
}

.colorDefault .MuiSvgIcon-root,
.MuiCardHeader-root.contact_dialog_form_header .MuiSvgIcon-root {
	/* fill: var(--contrast-color); */
	fill: #fafafa;
}

@media (orientation: landscape) {
	body .MuiListItemText-root .MuiTypography-body1 {
		font-size: 1.6rem;
	}

	body .MuiAvatar-root {
		width: 50px;
		height: 50px;
		margin-right: 10px;
	}
}