:root {
  /* Definicoes gerais */
  --font-base: 'Poppins', sans-serif;
  --dark-color: #121212;
  --light-color: #f5f5f5;

  --avatar-color-1: #f44336;
  --avatar-color-2: #e91e63;
  --avatar-color-3: #9c27b0;
  --avatar-color-4: #2196f3;
  --avatar-color-5: #4caf50;

  /* // Light Mode // */
  /* Fundos */
  --login-background: #694e73;
  --background-main: #f5f5f5;
  
  /* Fontes */
  --base-font-color: #121212;
  --selection:#adc2b9;

  /* Menu e cabecalho */
  --header-and-menu: #694e73;

  /* Home */
  --home-icons: #adc2b9;
  
  /* Notas */
  --board-background: #adc2b9;
  --column-border: #274035;
  --column-font-color: #274035;

  --note-background: #f5f5f5;
  --note-answer-background: #c2c2c2;

  /* Botoes */
  --button-font-color: #694E73;
  --button-selected-font-color: #b054d1;

  /* Outros */
  --constrast-color: #2f2e2c;
  --inv-constrast-color: #f5f5f5;
  --other-details: #f5f5f5;
  --font-base: 'Poppins', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --avatar-color-1: #f44336;
  --avatar-color-2: #e91e63;
  --avatar-color-3: #9c27b0;
  --avatar-color-4: #2196f3;
  --avatar-color-5: #4caf50;
  --light-color: #f5f5f5;
  --tag-color: #D1A300;
}

[data-theme='dark'] {
  /* Fundos */
  --login-background: #2f2e2c;
  --background-main: #2f2e2c;
  
  /* Fontes */
  --base-font-color: #f5f5f5;
  --selection: #a594ab;

  /* Menu e cabecalho */
  --header-and-menu: #121212;

  /* Home */
  --home-icons: #FFEAA3;
  
  /* Notas */
  --board-background: #694e73;
  --column-border: #2D1B35;
  --column-font-color: #f5f5f5;

  --note-background: #a594ab;
  --note-answer-background: #a08aa8;

  /* Botoes */
  --button-font-color: #442950;
  --button-selected-font-color: #b054d1;

  /* Outros */
  --constrast-color: #f5f5f5;
  --inv-constrast-color: #2f2e2c;
  --other-details: #474747;
  --tag-color: #D1A300;  
}

[data-theme='high_contrast'] {
  /* Fundos */
  --login-background: #694e73;
  --background-main: #f5f5f5;
  
  /* Fontes */
  --base-font-color: #121212;
  --selection: #F1D881;

  /* Menu e cabecalho */
  --header-and-menu: #694e73;

  /* Home */
  --home-icons: #F1D881;
  
  /* Notas */
  --board-background: #F1D881;
  --column-border: #D1A300;
  --column-font-color:  #f5f5f5;

  --note-background: #FFF3CB;
  --note-answer-background: #EFE1B1;

  /* Botoes */
  --button-font-color: #442950;
  --button-selected-font-color: #b054d1;

  /* Outros */
  --constrast-color:#2f2e2c;
  --inv-constrast-color: #f5f5f5;
  --other-details: #f5f5f5;
  --tag-color: #a594ab;
}