:root {
	/* Definicoes gerais */
	--font-base: 'Poppins', sans-serif;
	--font-secondary: 'Poppins', sans-serif;
	--dark-color: #121212;
	--light-color: #f5f5f5;

	--very-small-font: 0.65rem;
	--small-font: 0.75rem;
	--default-small-font: 0.9rem;
	--default-font: 1rem;
	--big-font: 1.25rem;
	--large-font: 1.4rem;
	--very-large-font: 1.75rem;
	--titan-font: 2.5rem;

	--svg-size: 1.125rem;

	/* // Light - Teddy Bear // */
	/* Fontes */
	--base-font-color: #121212;
	--buttons-font-color: #FAFAFA;
	--menu-and-titles-font-color: #71584F;
	--notes-font-color: #121212;
	--selected-tab-header-font-color: #F8E6C0;
	--link-font-color: #977569;
	--hover-link-font-color: #b48b7c;
	--focused-input-font-color: #977569;
	--delete-account-font-color: #ED2939;
	
	/* Fundos */
	--background-color: #E5DCD9;
	--menu-cards-background: #E1A69E;
	--menu-buttons-background: #A97D77;
	--menu-and-headers-background: #A0D1BE;
	--dialog-background: #E5DCD9;
	
	--buttons-background: #977569;
	--list-item-header-background: #CBBAB4;
	--list-item-description-baclground: #D8CBC7;
	--note-column-background: #E1A69E;
	--note-card-background: #E8BCB6;
	--note-card-answer-background: #DBB4AF;
	
	--tag-background: #F8E6C0;
	--selection-box-background: #CBBAB4;
	
	--selection-tab-background: #CBBAB4;
	
	/* Barra de Pesquisa */
	--search-bar-border-color: #BFB9B7;
	--search-bar-font-color: #BFB9B799;

	/* Switchs */
	--switch-color: #977569;
	--switch-slider-background: #977569b3;

	--avatar-color-1: #f44336;
	--avatar-color-2: #e91e63;
	--avatar-color-3: #9c27b0;
	--avatar-color-4: #2196f3;
	--avatar-color-5: #4caf50;

	/* [IGUAL PRA TODOS] */
	--calendar-medication-background: #4B75C3;
	--calendar-event-background: #D783BB;
	--calendar-reminder-background: #F0994D;
	--calendar-event-cards-font-color: #FAFAFA;

}

[data-theme='dark'] {
	/* // Dark - Mint // */
	/* Fontes */
	--base-font-color: #FAFAFA;
	--buttons-font-color: #FAFAFA;
	--menu-and-titles-font-color: #FAFAFA;
	--notes-font-color: #121212;
	--selected-tab-header-font-color: #6CCBB5;
	--link-font-color: #3BBA9C;
	--hover-link-font-color: #41d8b5;
	--focused-input-font-color: #3BBA9C;
	--delete-account-font-color: #F25F6B;

	/* Fundos */
	--background-color: #36393F;
	--dialog-background: #36393F;
	--menu-and-headers-background: #202225;
	--menu-cards-background: #3BBA9C;
	--menu-buttons-background: #6CCBB5;

	--list-item-header-background: #202225;
	--list-item-description-baclground: #686B6F;
	--note-column-background: #3BBA9C;
	--note-card-background: #6CCBB5;
	--note-card-answer-background: #6EC2AE;

	--buttons-background: #3BBA9C;
	--tag-background: #202225;
	--selection-box-background: #202225;

	--selection-tab-background: #202225;

	/* Barra de Pesquisa */
	--search-bar-border-color: #686B6F;
	--search-bar-font-color: #686B6F99;

	/* Switchs */
	--switch-color: #3BBA9C;
	--switch-slider-background: #3BBA9Cb3;

	--avatar-color-1: #6e1f1a;
	--avatar-color-2: #682552;
	--avatar-color-3: #53195e;
	--avatar-color-4: #0c3d64;
	--avatar-color-5: #255727;
}

[data-theme='cotton_candy_light'] {
	/* // Light - Cotton Candy // */
	/* Fontes */
	--base-font-color: #121212;
	--buttons-font-color: #121212;
	--menu-and-titles-font-color: #121212;
	--notes-font-color: #121212;
	--selected-tab-header-font-color: #EC284C;
	--link-font-color: #EC284C;
	--hover-link-font-color: #f14262;
	--focused-input-font-color: #3969AA;
	--delete-account-font-color: #EC284C;
	
	/* Fundos */
	--background-color: #FFF9F9;
	--dialog-background: #FFF9F9;
	--menu-and-headers-background: #FFADC6;
	--menu-cards-background: #A9CDFF;
	--menu-buttons-background: #74F1D4;
	
	--list-item-header-background: #FDD8D8;
	--list-item-description-baclground: #F9E6E6;
	--note-column-background: #A9CDFF;
	--note-card-background: #FAFAFA;
	--note-card-answer-background: #EBEBEB;
	
	--buttons-background: #74F1D4;
	--tag-background: #FFDAA1;
	--selection-box-background: #F9E6E6;
	
	--selection-tab-background: #FDD8D8;
	
	/* Barra de Pesquisa */
	--search-bar-border-color: #E1E1E1;
	--search-bar-font-color: #E1E1E199;
	
	/* Switchs */
	--switch-color: #74F1D4;
	--switch-slider-background: #74F1D4b3;
}

[data-theme='eggplant_dark'] {
	/* // Dark - Eggplant // */
	/* Fontes */
	--base-font-color: #FAFAFA;
	--buttons-font-color: #FAFAFA;
	--menu-and-titles-font-color: #FAFAFA;
	--notes-font-color: #FAFAFA;
	--selected-tab-header-font-color: #E2B2E2;
	--link-font-color: #E2B2E2;
	--hover-link-font-color: #f8d4f8;
	--focused-input-font-color: #E2B2E2;
	--delete-account-font-color: #F25F6B;

	/* Fundos */
	--background-color: #22252A;
	--dialog-background: #36393F;
	--menu-and-headers-background: #22252A;
	--menu-cards-background: #4A154B;
	--menu-buttons-background: #4A154B;

	--list-item-header-background: #36393F;
	--list-item-description-baclground: #686B6F;
	--note-column-background: #4A154B;
	--note-card-background: #613262;
	--note-card-answer-background: #653C66;

	--buttons-background: #4A154B;
	--tag-background: #22252A;
	--selection-box-background: #22252A;

	--selection-tab-background: #36393F;

	/* Barra de Pesquisa */
	--search-bar-border-color: #686B6F;
	--search-bar-font-color: #686B6F99;

	/* Switchs */
	--switch-color: #613262;
	--switch-slider-background: #613262b3;

	--avatar-color-1: #6e1f1a;
	--avatar-color-2: #682552;
	--avatar-color-3: #53195e;
	--avatar-color-4: #0c3d64;
	--avatar-color-5: #255727;
}

[data-font-size='large'] {
	--very-small-font: 0.9425rem;
	--small-font: 1.0875rem;
	--default-small-font: 1.305rem;
	--default-font: 1.45rem;
	--big-font: 1.8125rem;
	--large-font: 2.03rem;
	--very-large-font: 2.5375rem;

	--svg-size: 1.625rem;
}

[data-font-size='larger'] {
	--very-small-font: 1.1375rem;
	--small-font: 1.3125rem;
	--default-small-font: 1.575rem;
	--default-font: 1.75rem;
	--big-font: 2.1875rem;
	--large-font: 2.45rem;
	--very-large-font: 3.0625rem;

	--svg-size: 1.875rem;
}
