.login {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 45%;
	height: 100%;
	background-color: var(--login-background);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login__logo {
	width: 10rem;
	height: auto;
}

.login__curious {
	position: absolute;
	right: -0.625rem;
	top: 0.625rem;
	width: 6.25rem;
	animation: curious_dino 10s infinite;
}

.login__content__button {
	margin-top: 5rem;
}

.login__content__message {
	text-align: center;
	font-size: var(--large-font);
	color: var(--light-color);
}

.login__content__info {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0.5rem;
}

.login__content__info p {
	margin-bottom: 0.55rem;
	margin-left: 0.15rem;
	margin-right: 0.15rem;
}

.login__content__info .link_button {
	padding: 0;
	margin-bottom: 0.5rem;
	text-align: center;
	font-size: var(--small-font);
}

@media (orientation: landscape) {
	.login__logo {
		width: 31.25rem;
	}
	.login__message {
		font-size: xx-large;
	}
	.login__curious {
		position: absolute;
		right: -31.25rem;
		top: -3.125rem;
		width: 31.25rem;
		transform: rotate(-60deg);
		animation: curious_dino_landscape 10s infinite;
	}
}

@keyframes curious_dino {
	0% {
		right: -6.25rem;
	}
	35% {
		right: -0.625rem;
		transform: rotate(-20deg);
	}
	45% {
		right: -6.25rem;
		transform: rotate(0deg);
	}
	100% {
		right: -6.25rem;
	}
}

@keyframes curious_dino_landscape {
	0% {
		right: -31.25rem;
	}
	35% {
		right: -6.25rem;
		transform: rotate(0deg);
	}
	45% {
		right: -31.25rem;
	}
	100% {
		right: -31.25rem;
	}
}
