.select_treatment__autocomplete .MuiInputBase-root,
.select_treatment__autocomplete .MuiTypography-h6,
.select_treatment__autocomplete .MuiFormLabel-root {
	font-family: inherit;
}

.select_treatment__autocomplete {
	width: 100%;
}

.select_treatment__children {
	margin: 1.75rem 0rem 0rem;
}
