.notes { 
    padding-top: 10px;
    padding-bottom: 10px;
}

.notes__add.MuiButtonBase-root.MuiFab-root {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 85px;
    right: 20px;
    background-color: #FF759E;
    outline: none;
}

.sc-AxmLO.fcYNFc {
    padding-top: 0px;
}

.sc-fzoyAV.hbVbBu {
    width: 100%;
}

.sc-fzoLag.feoXx {
    width: 100%;
}

.sc-AxmLO.fcYNFc {
    margin: 0px;
    width: 100%;
    background-color: inherit;
}

.sc-AxjAm.eZiLDJ { 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.notes__column_header {
    position: fixed;
    left: 0;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sc-fzozJi.GHGWz {
    position: absolute;
    top: 150px;
    padding: 0;
    bottom: 70px;
    overflow: scroll;
}

.sc-AxmLO.fcYNFc {
    padding: 0px;
}

.notes__column_header__image {
    width: 45px;
    height: 45px;
    margin-right: 20px;
}

