.treatment__dialog_form__content {
  padding: 16px;
  align-self: center;
}

.treatment__dialog_form__content__textfield {
  width: 100%;
  padding: 16px;
}

.treatment__list_item {
  font-size: var(--default-font);
}

.treatment__list_item  .treatment__list_item__text {
  font-size: var(--big-font);
  margin-right: 32px;
}

.treatment__list_item .icon_button, .treatment__list_item .MuiBadge-root {
  margin-left: 1em;
}

.treatment__list_item .MuiTypography-root.MuiListItemText-secondary.MuiTypography-body2.MuiTypography-colorTextSecondary.MuiTypography-displayBlock .dino__history_link {
  text-align: initial;
}