.calendar__day__modal__header {
	position: absolute;
}

.calendar__day__modal__header__info {
	position: fixed;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	min-height: 3.125rem;
	max-height: 3.125rem;
	width: 100%;
	padding-bottom: 0.625rem;
	border-bottom: 0.063rem #b9b9a2 solid;
	z-index: 99;
	background-color: white;
}

.calendar__day__modal__header__info h1 {
	font-size: 1.2em;
	margin-bottom: 0em;
}

.calendar__day__modal__header__info__close {
	position: fixed;
	width: 3.125rem;
	height: 0rem;
	top: 0rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calendar__day__modal__header__info__close .MuiFab-primary {
	position: fixed;
	top: 3.438rem;
	background-color: white;
	color: black;
	outline: none;
}

.calendar__day__modal__header__info__close .MuiFab-root {
	min-height: 0rem;
	height: 0rem;
}
