.dinogotchi_screen__options {
	position: absolute;
	right: 7vw;
	top: 15vh;
}

.dinogotchi_screen__options .circular {
	height: 4.5rem;
	width: 4.5rem;
	background-color: #0c1e59;
	margin-bottom: 1.5rem;
}

.dinogotchi_screen__hearts {
	position: absolute;
	top: 12vh;
	left: 55vw;
	width: 100px;
	height: auto;
	z-index: 5;
	visibility: hidden;
}

.dinogotchi_screen__hearts #dinogotchi_screen__heart_1 {
	transition: visibility 0.2s;
}

.dinogotchi_screen__hearts #dinogotchi_screen__heart_2 {
	transition: visibility 0.2s 0.2s;
}

.dinogotchi_screen__hearts #dinogotchi_screen__heart_3 {
	transition: visibility 0.2s 0.3s;
}

.dinogotchi_screen__hearts.petting #dinogotchi_screen__heart_1 {
	visibility: visible;
	transition: visibility 0.2s;
}

.dinogotchi_screen__hearts.petting #dinogotchi_screen__heart_2 {
	visibility: visible;
	transition: visibility 0.2s 0.1s;
}

.dinogotchi_screen__hearts.petting #dinogotchi_screen__heart_3 {
	visibility: visible;
	transition: visibility 0.2s 0.2s;
}
