.tag_list.MuiPaper-root {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0;
}

.tag_list.MuiPaper-root .MuiChip-root {
	background-color: var(--tag-background);
	margin-right: 0.313rem;
	font-size: smaller;
	height: 1.625rem;
}

.tag_list.MuiPaper-root .MuiChip-root .MuiChip-label {
	padding-left: 0.625rem;
	padding-right: 0.625rem;
}

.tag_list.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
	overflow: auto;
	box-shadow: none;
	background-color: transparent;
}

.MuiChip-root.MuiAutocomplete-tag {
	background-color: var(--tag-background);
}
