.contact_dialog_form_header .MuiCardHeader-title {
	display: block;
	font-size: var(--default-font);
}

.contact_dialog_form_header .MuiCardHeader-action {
	display: flex;
	flex-direction: row;
}
.contact_dialog_form_header :is(.MuiCardHeader-content, .MuiCardHeader-title) {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

.contact_dialog_form_header .MuiTypography-root.MuiCardHeader-subheader {
	font-size: var(--small-font);
}
