.recover_password_dialog__error_message {
  color: #FF7676;
}

.recover_password_dialog input{
	margin-bottom: 0.7rem;
	width: 100%;
	padding: 0.2rem;
	border-radius: 1rem;
	background-color: var(--dialog-input);
	color: var(--base-font-color);
	border: none;
  font-size: var(--default-font);
}

.recover_password_dialog h1 {
  font-size: var(--very-large-font);
}

.recover_password_dialog p {
  font-size: var(--default-font);
}