.calendar__add_modal__form__add_alarm_modal.MuiDialog-root .MuiDialog-paperWidthSm {
    width: 100%;
}

.calendar__add_modal__form__add_alarm_modal.MuiDialog-root .MuiFormControl-root {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.calendar__add_modal__form__add_alarm_modal__time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

.calendar__add_modal__form__add_alarm_modal__time__text_field .MuiInputBase-root {
    background-color: rgb(240, 240, 240);
}

.calendar__add_modal__form__add_alarm_modal__save_button {
    outline: none !important;
}
