.bottom_navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.bottom_navigation .MuiBottomNavigation-root {
  position: fixed;
  overflow: hidden;
  background-color: #b32e55;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 1000;
  bottom: 0;
}

.bottom_navigation .MuiBottomNavigationAction-root.Mui-selected {
  font-weight: 700;
  color: #ffffff;
  outline: none;
}

.bottom_navigation__component {
  position: relative;
  width: 100%;
}

.bottom_navigation__component_with_mini {
  width: 100%;
  height: calc(100% - 55px);
  overflow: scroll;
  -ms-overflow-style: none;
  padding-left: 73px;
}

.bottom_navigation__component_with_mini::-webkit-scrollbar {
  display: none;
}
