.note__note_content__column__column_header {
  height: 20px;
  display: flex;
  flex-direction: row;
  color: var(--dark-color);
}

.note__note_content__column__column_header h2 {
  width: 70%;
  font-size: large;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
}

.note__note_content__column__column_header__button {
  margin-left: auto;
}

.note__note_content__column__column_header__button .svg_button svg {
  fill: var(--dark-color);
}