.note__note_content__column__column_header {
	height: 1.25rem;
	display: flex;
	flex-direction: row;
	color: var(--dark-color);
	align-items: center;
}

.note__note_content__column__column_header h2 {
	width: 70%;
	font-size: var(--large-font);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 0;
	margin-top: 0.625rem;
	font-weight: normal;
}

.note__note_content__column__column_header__button_div {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	align-items: flex-end;
	justify-content: flex-end;
}

.note__note_content__column__column_header__button_div__button {
	padding: 0;
	height: 40.125rem;
	width: 1.875rem;
}

.note__note_content__column__column_header__button_div__button svg {
	fill: var(--dark-color);
	height: var(--svg-size);
	width: var(--svg-size);
	margin-left: auto;
	margin-right: 0;
}
