.section {
	padding-bottom: 2rem;
}

.section__title {
	margin-bottom: 0.8rem;
}

.section__image {
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 1rem;
}

.section__footnote {
	padding: 0.625rem 1.25rem;
	text-align: center;
	font-style: italic;
}

.section__text {
	white-space: pre-wrap;
}
